[2018-05-31 23:56] jimmyca15 opened #5 "Connection string parameter lacks validation"
As @bradhav25 mentioned in PR #4, there is possibly room to improve on the validation performed on the connection string that is passed when connecting to a remote configuration source. The current lack of validation is not a security concern, but more of a usability concern. For example, misspelled connection string segments to not trigger an argument exception, nor do repeated segments.

[2018-08-24 18:48] jimmyca15 opened #7 "Support watching multiple keys with wildcard"
Currently watching for changes in key-values requires a 1:1 call to `Watch()`. Often times, configuration sections are broken into objects such as logging:enabled and security:sanitizeUrls. Many applications may wish to watch all keys for a certain section of configuration. They may want to do something like `Watch("Settings:*")`. Then when there is a server side change to the KV with the key _Set

[2018-08-24 20:33] #5 closed, assigned to nobody

[2018-08-30 17:42] jimmyca15 opened #10 "Observable not reset when change is observed"
Whenever a key-value is set up to be watched, the code uses a subscription on an observable. When the key-value is changed, the subscription call back is called. The problem is that currently this subscription performs some work to update the configuration and then exits. The subscription stays alive. This means after the next time interval when the observable checks for changes, it will assume th

[2018-09-20 18:31] zhenlan opened #12 "Optional remote config store"
We should allow users to specify whether a remote config store is optional. If specified, we don't fail in case the remote config store is not accessible for any reason.

[2018-12-04 03:14] zhenlan opened #14 "Support filter by PreferredDateTime in config provider"
SDK property
https://github.com/Azure/Azconfig-DotnetSdk/blob/master/src/Microsoft.Azconfig.Client/QueryKeyValueCollectionOptions.cs#L29

[2018-12-04 20:44] #12 closed, assigned to shenmuxiaosen

[2018-12-04 20:47] zhenlan opened #15 "Change to case-insensitive for config keys"
From @jimmyca15

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-2.1&tabs=basicconfiguration#conventions

“Keys are case-insensitive. For example, ConnectionString and connectionstring are treated as equivalent keys.”

I think we should just update the .net core config provider to be case insensitive. In the event two KVs are present with the same case-inse

[2018-12-13 23:21] zhenlan opened #18 "When a watched Key is removed, provider should not throw"
We are throwing currently, which eventually crashes the app.

[2018-12-14 20:54] #18 closed, assigned to nobody

[2018-12-18 19:38] #15 closed, assigned to jimmyca15

[2018-12-18 20:24] #10 closed, assigned to nobody

[2019-01-11 03:40] zhenlan opened #22 "Provide default poll interval for watch function"
So
- A user doesn't have to worry about it in most cases
- We can have a more reasonable default poll interval that should work for most applications and won't send too much unnecessary traffic to the config service. A proposed default poll interval is 30s, which should work just fine for most web applications.

[2019-01-11 05:21] zhenlan opened #23 "Add a way to reload all config when a monitored KV is changed"
When a user changes multiple KVs in a config store, it's normally not a good idea to reload each individual KVs in the application as soon as each change happens because the application may not work when configs are only partially updated.

Our recommendation is for the user to create a single KV that the application will monitor. The user will update the monitoring KV only after the update of all

[2019-01-11 19:25] #14 closed, assigned to nobody

[2019-01-25 21:25] #22 closed, assigned to nobody

[2019-01-25 21:36] jimmyca15 opened #29 "Empty label filter should be changed to null label filter."
There is a difference between the null label and an empty string label. Sending a query filter with the null terminating character \0 will result in a query for the null label. We should change the LabelFilter Property for the null label from `Empty` to `Null` as it is in the SDK.

[2019-02-05 18:30] #23 closed, assigned to shenmuxiaosen

[2019-02-22 17:35] jimmyca15 opened #37 "Observables used to watch configuration are not disposable."
The `AzureAppConfigurationProvider` supports the capability to watch key-value changes by polling a configuration store. An observable runs at an interval to perform this operation. It uses the same client that is used to pull the initial key-values.

The problem is that this observable runs constantly and there is no way for a user to dispose it when they are using the `AzureAppConfigurationProvi

[2019-02-22 17:45] #29 closed, assigned to nobody

[2019-02-22 17:45] #7 closed, assigned to nobody

[2019-04-30 21:00] jimmyca15 opened #45 "Watch silently fails if the poll interval is too small."
Currently we watch for changes in a fire-and-forget background task. When we hook up the observable for key-values we use the poll interval specified by the user in `AzureAppConfigurationOptions`. This could possibly be less than the minimum 500 ms poll interval required by the AzconfigClient.

Options for fixing:
1. Add 500ms poll interval validation in `AzureAppConfigurationOptions.Watch`
2. Bub

[2019-05-06 20:04] jimmyca15 opened #47 "If watch fails, it will not restart, leaving polling ups in a detached state."
At the moment, the watch functionality of the provider can throw an exception based on a number of scenarios including network issues which can happen at any time. The exception happens on the observation thread which by default is in the background and will go completely unnoticed. This means that if an application is created that depends on watching key-values and an exception occurs in the watc

[2019-05-06 20:07] jimmyca15 opened #48 "Watching leads to App Configuration quota being consumed very quickly."
At the moment, it is very easy for developers to shoot themselves in their foot by consuming a large amount of their per second quota by polling. If a user watches a few keys in an App Configuration and then deploys a few instances of that app then the quota could easily be reached.

We should come up with ways to handle multiple observations so that developers do not shoot themselves in the foot

[2019-05-11 04:07] zhenlan opened #50 "Understand how the config provider is used"
- Add a way so we can understand the request config provider sends is to
  - load all config at app start-up
  - use feature flags
  - connect with the managed identity
- Provide users a way to opt out

[2019-05-24 22:25] jimmyca15 opened #52 "Preferred Date Time is not preferrable for configuration retrieval."
With the initial release of the AppConfigurationProvider, preferred date time was offered to provide the capability to retrieve configuration as it existed in a point in time. This uses Azure App Configuration's **revision** feature. Revisions are only kept for a certain amount of days before they are deleted from an App Configuration. This means that applications that use preferred time would eve

[2019-08-14 19:00] #47 closed, assigned to nobody

[2019-08-14 19:00] #48 closed, assigned to nobody

[2019-10-09 22:13] annelo-msft opened #88 "Remove dependency on ManagedIdentityConnector"
This should be completed before GA.

[2019-10-09 22:14] annelo-msft opened #89 "Remove provider dependency on Newtonsoft.Json and Interactive.Async"
These are currently needed by ManagedIdentityConnector library, but can be removed once #88 is complete.

[2019-10-13 16:45] annelo-msft opened #90 "Update to preview 4 of Azure SDK"
Breaking changes have been made to Azure.Core, which have ripple effects to Azure.Data.AppConfiguration.  We will update this after the initial provider PR is checked in.

[2019-10-19 17:39] #50 closed, assigned to gsgvijay

[2019-10-21 19:15] annelo-msft opened #91 "Ensure character escaping is done correctly on SDK 1.0.0-preview.3"
The following test cases must pass:

                                refresh.Register("Settings:BackgroundColor")
                                    .Register("!@#$^&()")
                                    .Register("!@#$^&()*")
                                    .Register("~!@#$%^&()_+")
                                    .Register("~!@#$%^&()_+*")
                                    .Registe

[2019-10-21 19:16] annelo-msft opened #92 "Test offline file cache with provider on Azure.Data.AppConfiguration v1.0.0-preview.3"

[2019-10-22 00:05] abhilasharora opened #93 "Fix broken build for configuration provider"
The container image we use for building configuration provider does not have the appropriate SDK available to compile C# 8.0 features, so the current build is broken. This issue tracks fixing it so the current code could compile.

[2019-10-22 17:40] #93 closed, assigned to annelo-msft

[2019-10-25 17:19] #91 closed, assigned to annelo-msft

[2019-11-01 16:04] annelo-msft opened #101 "Collaborate with Azure SDK team to remove workaround for parsing filters"
Per Zhenlan's ask in this comment:

https://github.com/Azure/Azconfig-DotnetProvider/pull/96#discussion_r341500526

It may also be worth reconsidering the API for configuring the provider.  It may be confusing to customers that these two methods do the same thing:

.Register("ab,c")
.Use("ab\\,c")

It would be nice if the same string had the same meaning when passed to different methods.

[2019-11-07 04:20] #90 closed, assigned to annelo-msft

[2019-11-07 04:20] #92 closed, assigned to annelo-msft

[2019-11-07 04:30] zhenlan opened #105 "Add a new API to support AAD authentication"
Proposed API
[code]

cc: @drago-draganov @jimmyca15

[2019-11-07 17:57] #37 closed, assigned to nobody

[2019-11-07 18:28] zhenlan opened #106 "Add a new API to allow custom client options"
Proposed API
[code]
This API should allow a user to overwirte the properties of `ConfigurationClientOptions` we use by default.

For example, in the case of Azure/AppConfiguration#179, the customer can do
[code]
Reference [here](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/samples/Configuration.md#configuring-a-proxy).

cc: @drago-draganov @jimmyca15

[2019-11-07 21:55] #45 closed, assigned to abhilasharora

[2019-11-12 01:00] zhenlan opened #109 "Use Azure.Security.SecretClient for Key Vault reference"

[2019-11-20 22:17] zhenlan opened #110 "API rename `Use` -> `Select`"
There are confusions about the current API `Use` whether it takes a specific key name or a filter of keys. `Select` is considered a better naming to indicate the API is meant to take a key filter.

[2019-11-23 09:26] #110 closed, assigned to abhilasharora

[2019-11-23 09:27] #88 closed, assigned to abhilasharora

[2019-11-23 09:27] #105 closed, assigned to abhilasharora

[2019-11-23 09:28] #52 closed, assigned to abhilasharora

[2019-12-13 03:02] zhenlan opened #113 "Add IConfigurationRefresher.TryRefresh API"
To make it easier for customers to trigger configuration refresh without worrying about crashing the app due to various transient errors, propose to add the API below in `IConfigurationRefresher`.
[code]
**Details**
The `TryRefresh` will not throw on Transient or any FailedRequestException, regardless of the status code (even 401, 403)

The existing API `Refresh` will not catch anything.

**More d

[2020-01-16 20:50] #109 closed, assigned to abhilasharora

[2020-01-16 20:50] #89 closed, assigned to abhilasharora

[2020-01-16 23:08] #101 closed, assigned to abhilasharora

[2020-02-19 09:41] zhenlan opened #133 "RefreshAsync: Schedule config refresh at the end of cache expiration window"
In the scenario that the `RefreshAsync` is called in a function that is triggered by Event Grid events sent by AppConfig, the configuration refresh could be missed (ignored) if the event arrives at the time the current cache expiration window is not yet reached. The proposal is to schedule a configuration refresh at the end of the cache expiration window in this case. Only one real configuration r

[2020-02-22 19:17] abhilasharora opened #134 "Consider adding logging for TryRefreshAsync method"
Add logging for failures during `IConfigurationRefresher.TryRefreshAsync` to allow users to fix errors during the refresh operation. Check the discussion in https://github.com/Azure/AppConfiguration-DotnetProvider/pull/119 for more details. Also allow users of the middleware to register an `ILogger` to retrieve failure logs.

[2020-02-22 19:19] abhilasharora commented on #113
Closing this issue since the proposed APIs `RefreshAsync` and `TryRefreshAsync` have been released as a part of version `3.0.0` of the package `Microsoft.Extensions.Configuration.AzureAppConfiguration`.

The addition of logging to `TryRefreshAsync` is being tracked at https://github.com/Azure/AppConfiguration-DotnetProvider/issues/134.

[2020-02-22 19:19] #113 closed

[2020-02-22 19:21] abhilasharora commented on #106
This feature has been released as a part of version `3.0.0` of the package `Microsoft.Extensions.Configuration.AzureAppConfiguration`.

[2020-02-22 19:21] #106 closed

[2020-02-25 07:46] zhenlan opened #135 "Improvements for Offline File Cache"
When managed identity (or any AAD authentication) is used to connect to App Configuration, the user need to provide `Key`, `IV` and `SignKey` as part of [OfflineFileCacheOptions](
https://github.com/Azure/AppConfiguration-DotnetProvider/blob/master/src/Microsoft.Extensions.Configuration.AzureAppConfiguration/OfflineFileCacheOptions.cs).

We should allow OfflineFileCache used with AAD auth but thro

[2020-03-03 02:46] zhenlan opened #136 "The optional:true parameter for AddAzureAppConfiguration does not work"
I have code below and a key vault reference in the store.
[code]

The app does not have access to my key vault, but since I specified `optional:true`, the app is not expected to throw. However, it does:

[code]

[2020-03-04 06:21] abhilasharora commented on #136
@zhenlan It looks like the `optional: true` parameter also does not work for other exceptions such as `RequestFailedException`, `AggregateException` etc. I have updated the title to reflect it. I will test out the different cases and send a fix.

[2020-03-04 18:44] abhilasharora opened #138 "Fix bug that causes feature flags to be refreshed even when there are no changes"
Currently, when feature flags are refreshed, we first make a request to fetch the `Key` and `ETag` for all feature flags. Then we compare it to the `ETag` for the feature flags that are currently in the client configuration. The expected behavior is to fetch the updated values of the feature flags only if we detect a change in the 'ETag' for one or more feature flags. However, the current code has

[2020-03-04 19:24] SamaraSoucy-MSFT opened #139 "Loading Key Vault values is attempted even if ConfigureKeyVault isn't called"
Issue originally brought up in the docs repo: https://github.com/MicrosoftDocs/azure-docs/issues/49293

Repro:

1. Setup an App Config instance that contains a Key Vault reference.
2. Configure App Configuration without calling `ConfigureKeyVault()`
[code]
Expected Behavior: App Config provider won't try to load any results from Key Vault.

Actual Behavior: "Microsoft.Extensions.Configuration.Azur

[2020-03-04 19:27] abhilasharora commented on #136
The fix for this issue has been merged as a part of pull request https://github.com/Azure/AppConfiguration-DotnetProvider/pull/137.

[2020-03-05 22:22] jimmyca15 commented on #139
Hello @SamaraSoucy-MSFT

The appearance of this error, even though `ConfigureKeyVault` is not called, is by design. The secrets that cause the error are in the configuration set that is being queried by the application. If the application is allowed to run when this occurs it results in what we consider to be an undefined state since there is no clear expectation for what should be returned when o

[2020-03-06 08:57] DavidNorena opened #140 "Docker support"
Im having the following issue when I debug from docker

![image](https://user-images.githubusercontent.com/26279057/76068137-9a638780-5f5e-11ea-94fe-3874d3ab1a63.png)

but the same connection string works without debugging docker

[2020-03-06 10:11] zhenlan commented on #140
Is it possible that the clock of the docker container is not correct? "The access token has expired” error occurs when HTTP request header Date is more than 15min off from the server time.

[2020-03-06 16:16] SamaraSoucy-MSFT commented on #139
The original thread from the customer was that, while using using labels and prefixes is definitely the preferred way to go, in reality not every team is going to be organized enough to follow a specific naming or labeling convention. All it would take is one misplaced reference to bring down an app not using Key Vault credentials.

Maybe at some point we could consider adding a configuration opti

[2020-03-07 15:54] DavidNorena commented on #140
It was sync with server, but Im gonna wait for the issue to raise again, if so, ill re-open this, thank you !

[2020-03-07 15:54] #140 closed

[2020-03-18 22:20] abhilasharora commented on #135
If the user connects to the App Configuration store using a connection string and specifies one or two (not all) of the three parameters `Key`, `IV` and `SignKey`, we can handle it in several ways.

1. Use the connection string for encryption and ignore the user specified options. This allows the offline cache to work with auto-generated values for all parameters based on connection string.
2. Thr

[2020-03-19 01:16] #138 closed

[2020-03-19 03:29] abhilasharora commented on #135
Here is a summary of the issues and proposed changes for the offline cache based on my discussion with Drago and Jimmy. The current plan is to address these issues together as a breaking change in the `4.0.0` release for the configuration provider, instead of fixing some of these partially in our next `3.0.1` release. Let me know if I missed anything.

**Issues with Current Implementation**

1. We

[2020-03-19 19:13] drago-draganov opened #142 "Allow configurable pull refresh cache expiration separate for Keyvault references (secrets)"
Configuration data and secrets often evolve with different velocities. Shorter cache expiration makes sense for feature management, sentinel keys monitoring, etc.. Unfortunately, that may put stress on Keyvault, considering the fact that each secret must be fetched one at a time. That is also amplified when multiple provider instances are active.

AzureAppConfigurationKeyVaultOptions is perhaps a

[2020-03-19 19:51] abhilasharora opened #143 "TryRefreshAsync does not handle exceptions originating in Azure.Identity"
The package `Azure.Identity` throws `Azure.Identity.AuthenticationFailedException` when it fails to use a `TokenCredential`. For example, when `new DefaultAzureCredentials()` is used to connect to Azure App Configuration but no valid identity could be found, then it throws `AuthenticationFailedException`. `TryRefreshAsync` method does not handle this exception and will throw for such cases, instea

[2020-03-19 20:08] abhilasharora commented on #142
`AzureAppConfigurationKeyVaultOptions` is meant for properties that used to configure the key vault client. It is decoupled from the key-vault reference settings that the cache expiration will be applied to. It might be more logical to set the key vault reference cache expiration on `AzureAppConfigurationRefreshOptions` since it is a refresh-related property and the settings that it applies to are

[2020-03-19 20:37] drago-draganov commented on #142
I don't necessary agree with:

As the name suggests it's meant to provide configuration for Keyvault integration with AppConfiguration. That certainly includes Keyvault client setup, but it doesn't lock or prohibit additional options.

AzureAppConfigurationRefreshOptions knows noting anything about Keyvault.

[2020-03-19 20:40] abhilasharora commented on #142
Sure, the refresh cache expiration time for key vault reference seems related to both `AzureAppConfigurationKeyVaultOptions` and `AzureAppConfigurationRefreshOptions`.

From the developer perspective, the code would get really confusing. Here's an example.

[code]

[2020-03-19 20:49] zhenlan commented on #142
Setting expiration time using `ConfigureKeyVault` API follows the same pattern of `UseFeatureFlags`, although, under the cover, all refresh logic is handled by `AzureAppConfigurationRefreshOptions`.

[2020-03-19 20:49] drago-draganov commented on #142
I don't find it confusing at all. KeyVault related stuff is properly encapsulated and configured under ConfigureKetVault API. It's easy do discover.

[2020-03-19 20:59] abhilasharora commented on #142
For feature flags, we don't register the individual feature flags for refresh in the `ConfigureRefresh` method, so separating their cache expiration time makes sense.

However, for key vault references, the specific settings to refresh are defined inside `ConfigureRefresh`, so the expectation would be to for the cache expiration within that method to apply to those settings. So in the following ex

[2020-03-19 22:03] drago-draganov commented on #142
Refreshing Keyvault reference and refreshing the secret value from Keyvault are different things.

``Register("MyKeyVaultSecret")`` means refresh the reference, not the secret value. KeyVault cache expiration is what it says - cache and refresh data from KeyVault.

[2020-03-20 00:03] abhilasharora commented on #142
Okay, thanks for the clarification. We currently have a single cache expiration time that decides if we are ready to update a key vault reference with App Configuration and Key Vault. As a part of this change, we want to decouple the cache expiration times for updating the key vault reference with App Configuration and updating it with Key Vault. So there would be two cases where we would make a c

[2020-03-20 21:34] abhilasharora opened #145 "TryRefreshAsync does not handle the case when initial configuration load has failed"

[2020-03-20 23:42] zhenlan commented on #142
It's good we separate the updates of KeyVault ref itself and the value referenced by the KeyVault ref.

I assume in most cases, the change of secrets is much much slower than config. This makes me think about whether we should push this even further. Two options.
1. We update the value from Key Vault *only if* the Key Vault ref has changed (or when it's loaded for the first time).
    * The user h

[2020-03-23 17:05] drago-draganov commented on #142
The basic idea is to cache any secret fetched from Keyvault. Then try the cache first on each Refresh.

In case the user specified reference to versioned secret, the handling is pretty straightforward. Use only the cached item, no need for expiration. If the reference changes, the cache won't have it and a request to fetch the secret will be initiated.

The challenge here is when versionless secre

[2020-03-25 02:06] #143 closed

[2020-03-25 23:16] abhilasharora opened #148 "Update user agent to use product version instead of assembly version"

[2020-03-25 23:19] abhilasharora opened #149 "Update RefreshAsync to handle exceptions from Azure.Identity"
The package `Azure.Identity` throws `Azure.Identity.AuthenticationFailedException` when it fails to use a `TokenCredential`. For example, when `new DefaultAzureCredentials()` is used to connect to Azure App Configuration but no valid identity could be found, then it throws `AuthenticationFailedException`. This issue tracks the code changes needed to handle all exceptions from `Azure.Identity` pack

[2020-03-26 23:44] #149 closed

[2020-03-30 17:00] #148 closed

[2020-04-01 20:17] abhilasharora commented on #145
@jimmyca15 @zhenlan I'm thinking about updating the code to allow loading of initial configuration even when there are no refresh registrations. This will be helpful for scenarios where users don't intend to refresh any value, but still use the RefreshAsync method to try to recover from initial load failures. It basically allows them to catch failures during initial load, and then use refresh to t

[2020-04-01 21:51] #145 closed

[2020-04-04 17:33] WimVergouwe opened #155 "Allow access to configuration settings"
I'm using Azure App Configuration to configure multiple microservices. With this setup it's quite nice to be able to configure settings on an environment level that get shared by all microservices. I can easily scope the settings to a specific microservice by using labels. So far so good.

One of these microservices hosts an SPA frontend (Blazor WebAssembly). I'd like to be able to expose some of

[2020-04-08 20:45] abhilasharora opened #156 "Allow refresh to be registered for multiple key-values with same key but different labels"
This issue tracks the changes needed to allow users to register refresh for multiple key-values with the same key but different labels.

[code]

[2020-04-08 21:12] zhenlan commented on #155
@WimVergouwe good suggestion. It makes sense to me.

I am thinking about another overload of the `Select` API that takes in a lambda (besides key & label filters) that takes in `ConfigurationSetting`.

Add more folks for the design discussion. @abhilasharora @jimmyca15 @drago-draganov

[2020-04-08 21:18] drago-draganov commented on #155
That's been in the plan somewhere. We're waiting for the official SDK support to expose ConfigurationSetting instance. We should also allow the lambda to return ConfigurationSetting instance. That way we open up for custom mapping.

[2020-04-08 21:19] jimmyca15 commented on #155
I'm wondering if we and go all the way and make it possible to access ConfigurationSettings rather than relying on a lambda callback.

[2020-04-08 21:20] jimmyca15 commented on #155
IConfiguration already exposes a change token. That's effectively the callback.

[2020-04-08 21:30] zhenlan commented on #155
@jimmyca15 that sounds like a good idea too.

[2020-04-08 21:36] drago-draganov commented on #155
We shouldn't expose ConfigurationSetting instances from IConfiguration. That may indeed create the false assumption that a change in ConfigurationSetting instance will reflect a change in configuration system and along the chain (IOptions pattern, etc.).

[2020-04-08 22:00] jimmyca15 opened #157 "Add ability to perform custom transforms on App Configuration Settings."
Some applications may need to perform custom transforms on the configuration settings they retrieve from Azure App Configuration. An example might be if an application uses a custom defined content type and has to process the value before it is acceptable to be placed in .NET Core's `IConfiguration`. This is the kind of thing that is done for Key Vault references today.

This can be accomplished b

[2020-04-08 22:04] jimmyca15 commented on #155
As Zhenlan and Drago mentioned, it should be possible to utilize the custom mapping API we planned to accomplish this. We didn't have an issue for it yet so I put one up. https://github.com/Azure/AppConfiguration-DotnetProvider/issues/157

[2020-04-08 23:04] abhilasharora commented on #157
This does seem like a viable approach to expose a `ConfigurationSetting` instance to the users and allow them to apply a transform on its value.

It might be a good idea to brainstorm the posssible scenarios where users might want to use transforms. That should help decide if we want to apply these after or before the feature management and key vault adapters are applied.

Also, if we expose the t

[2020-04-08 23:14] jimmyca15 commented on #157
I see two solutions to the ordering problem of before/after the built-in adapters.

An enum parameter like

[code]
[code]

Or pass a way to perform our value resolution on demand, which I think is even more flexible.

[code]

[code]

[2020-04-09 00:05] abhilasharora commented on #136
The fix has been released as a part of the version `3.0.1` of the package.
https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureAppConfiguration/3.0.1

[2020-04-09 00:51] drago-draganov commented on #157
No need to over engineer from the start with ordering complexity, etc. Let's provide simple solution, after the internal adapters. The user code has the last saying what goes into the config.

[2020-04-15 16:49] abhilasharora opened #158 "User agent contains the provider package name and version more than once"
**Problem**
The user agent string that is logged for calls made to App Configuration using the .NET Core configuration provider could contain the package name and version multiple times. This behavior can be noticed for around 0.5% of the total requests. This makes it harder to group these requests for analysis.

**Example 1**
`Microsoft.Extensions.Configuration.AzureAppConfiguration/2.1.0.0 Micro

[2020-04-15 19:16] #158 closed

[2020-04-17 01:25] eetawil commented on #136
Are you sure it's fixed? I have the same problem as reported by @zhenlan with 3.0.1
==> Microsoft.Extensions.Configuration.AzureAppConfiguration.KeyVaultReferenceException

return new ConfigurationBuilder()
                .AddAzureAppConfiguration(
                    options =>
                    {
                        options.Connect(connectionString)
                            .Select(Key

[2020-04-17 02:55] abhilasharora commented on #136
@eetawil Thanks for reporting it. You're right, the change fixed the issue for other exceptions, but not for the `KeyVaultReferenceException` that was reported in the original issue. This will be fixed in the next release of the package.

[2020-04-17 17:46] abhilasharora opened #160 "Update refresh to use SetCacheExpiration time to recover from initial load failures"
The `RefreshAsync` and `TryRefreshAsync` methods were updated to be able to detect a failure and re-attempt to load the initial settings from App Configuration. It is possible to leverage this feature even when there are no settings registered for refresh. In this case, the current behavior is to use a default cache expiration time of 30 seconds for auto-recovery of the initial configuration load.

[2020-04-21 23:47] abhilasharora opened #162 "Throw an exception if ConfigureRefresh is called without any refresh registrations"
We want to be able to prevent users from calling `ConfigureRefresh` with no key-values registered for refresh using the `Register` method. The current behavior is to allow users to retrieve an instance of the refresher without registering any key-value for refresh. However, it does not have a fully working use case and could lead to confusion in behavior when `ConfigureRefresh` is used more than o

[2020-04-22 02:42] zhenlan commented on #162
Which line will throw, `options.GetRefresher()`?

Do we get any customer complaints about current behavior? Not sure if this worth the breaking change.

[2020-04-22 02:48] abhilasharora commented on #162
When the user calls `builder.Build()`, then we can validate the registrations made in `ConfigureRefresh`. If we don't find any key-value registered for refresh, we will throw an exception.

We haven't received any customer complaint. However, while discussing PR https://github.com/Azure/AppConfiguration-DotnetProvider/pull/161 with Jimmy, we figured that we don't have a use case where we would wan

[2020-04-22 03:15] zhenlan commented on #162
How can I recover from the initial config load failure then?

[2020-05-02 01:22] abhilasharora commented on #160
We no longer plan to support usage of `ConfigureRefresh` without any refresh registrations, since it exposes some corner cases that add complexity to the current implementation. The major sceario where this approach could be useful is the disaster recovery scenario, which can currently be used with a workaround to register one or more settings for refresh. Once we have support for geo-replication

[2020-05-02 01:22] #160 closed

[2020-05-23 07:59] RemyBoyer opened #163 "Allow selection and sentinel keys on feature flags"
Hi everyone,

We are currently building a feature flag infrastructure for all our applications. We want to use AppConfiguration, AppConfiguration-DotnetProvider and FeatureManagement-Dotnet to store and check the feature flags on the applications. We'll build our own feature flag management app though, to provide advanced logic (custom filters, audit, authentication/authorization, more...) to our

[2020-05-28 12:35] preardon opened #164 "Allow refresh registration for for Complex objects"
Given the current configuration:

[code]

doing the following will fail with a 404
[code]

![image](https://user-images.githubusercontent.com/7712876/83156866-d724c200-a0fa-11ea-8339-a30d7869f1b5.png)

It appears that the code currently calls RefreshKeyValueCollections however the only object that can populate the MultiKeyWatchers IEnumerable is private and in the UseFeatureFlags() Method.

It wou

[2020-05-29 03:09] zhenlan commented on #164
The scenario is valid. This needs the server-side support of change detection for a collection of keys so the client-side can do this efficiently.

The work is tracked in the issue Azure/AppConfiguration#153, so I am going to close this one.

cc: @drago-draganov

[2020-05-29 03:09] #164 closed

[2020-06-04 20:59] abhilasharora opened #166 "Update middleware to throw when no refresher instance is found"
When no instance of `IConfigurationRefresher` could be retrieved from the `IConfiguration` instance received from the dependency injection container, the middleware should throw. This will help avoid silent failures in case there is an issue setting up App Configuration.

[2020-06-05 04:17] zhenlan commented on #155
I am closing this issue as the plan is tracked in the new issue Jimmy opened.

[2020-06-05 04:17] #155 closed

[2020-06-05 04:47] zhenlan opened #167 "Make IConfigurationRefresher instance available via DI"
It's useful for user code to obtain the instance of `IConfigurationRefresher` so they can refresh configuration synchronously or write their own middleware etc.

## Proposal
Add extension method below that user can call in `ConfigureServices(...)`
[code]
Under the cover, this API will add `IConfigurationRefresherAccessor` to the DI.
[code]
User code can then get the instances of `IConfigurationRef

[2020-06-05 04:50] drago-draganov commented on #167
I don't think there is a need for ``IConfigurationRefresherAccessor``. DI can inject IEnunmerable<IConfigurationRefresher> directly.

[2020-06-05 05:22] zhenlan opened #168 "Configuration refresh does not work when ChainedConfigurationProvider is used"
## Problem
A user added the App Configuration middleware to their application, but the configuration is not refreshed.

## Cause
The `AzureAppConfigurationProvider` could be nested under a `ChainedConfigurationProvider` if the user calls `IConfigurationBulder.AddConfiguration(...)` to add configuration built from the App Configuration provider.

Unfortunately, `ChainedConfigurationProvider` does n

[2020-06-05 05:26] zhenlan commented on #167
We need to run the code that we have in the middleware today to get `IEnunmerable<IConfigurationRefresher>`, which is the reason I think we need `IConfigurationRefresherAccessor`. I will be glad if we don't have to. I will leave this to @abhilasharora to find out.

[2020-06-05 05:31] drago-draganov commented on #167
It's a standard mechanism to add multiple instances of the same type ``T``. Then the DI makes it available by requesting ``IEnumerable<T>``

[2020-06-05 17:44] abhilasharora commented on #167
I already have PR https://github.com/Azure/AppConfiguration-DotnetProvider/pull/78 out for changes that provide this functionality. I sent it last year, but it seems for some reason we decided to put it on hold.

[2020-06-05 17:51] abhilasharora opened #169 "Fix issue with user agent header including package version more than once"
After updating the user agent header policy for adding the package version to be invoked once per call to SDK, there still seems to be cases where the SDK is executing the policy more than once. This issue tracks fixing this issue so the header only contains the package version once.

`Microsoft.Extensions.Configuration.AzureAppConfiguration/3.0.1 Microsoft.Extensions.Configuration.AzureAppConfigu

[2020-06-08 18:03] jimmyca15 opened #170 "Asp.net Core web app doesn't throw any exception when feature flag free quota limit is reached"
This is moved from https://github.com/microsoft/FeatureManagement-Dotnet/issues/70 on behalf of @SailleshPawar

Original issue below

---

This is something that we faced in production recently.
Accidentlally we were using Free tier of App Configuration in production workload for our web app.
We were deploying the new changes in the production environment and we were getting 500.30 service unavail

[2020-06-10 12:45] TheAsteroid opened #171 "Allow multiple sentinel keys with same key but different label for refresh"
We use App Configuration in a micro-service architecture, where all configuration of a single micro-service are labelled with the name of that micro-service. In addition we also have global configurations that apply to all micro-services, which we don't give a label. We would like to be able to do the following, to either trigger refresh for all micro-services, or only for a single micro-service w

[2020-06-11 03:12] abhilasharora commented on #157
For this issue, I plan to add the following API to the class `AzureAppConfigurationOptions` along with an explicit  dependency on the package `System.Threading.Tasks.Extensions`.

[code]

[2020-06-11 06:09] drago-draganov commented on #157
By naming convection it should be MapAsync, no?

[2020-06-11 06:51] TheAsteroid commented on #171
@abhilasharora Aah, I missed that there was already a ticket. Great, thanks!

[2020-06-11 16:29] abhilasharora commented on #157
This would not be an asynchronous method, only the delegate it takes would be asynchronous.

[2020-06-11 18:14] drago-draganov commented on #157
Good point. Thanks!

[2020-06-15 18:20] abhilasharora opened #172 "Cache expiration is ignored on first call to RefreshAsync"
After initial load of the configuration, if a setting is included in `Select` and also registered for refresh, the first call to `RefreshAsync` would ignore the cache expiration interval specified by the user and always revalidate and refresh the that setting. The expected behavior is to respect the cache expiration interval even for the first call to refresh.

[2020-06-18 02:43] abhilasharora opened #173 "Add multi-targeting support to Microsoft.Azure.AppConfiguration.AspNetCore for .NET Core 3.1"
A large number of NuGet packages aren't produced for ASP.NET Core 3.1. The package `Microsoft.Azure.AppConfiguration.AspNetCore` has a dependency on the package `Microsoft.AspNetCore.Http.Abstractions` that is included in the [list](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#remove-obsolete-package-references) of obsolete packages.

This

[2020-06-29 20:15] abhilasharora opened #178 "Inconsistent cached configuration after failed refreshAll operations"
When a change is detected in a sentinel key-value with refreshAll set to true, a refreshAll operation is triggered to populate the entire configuration from scratch. However, in case we fail to complete that operation and all retry attempts fail, the subsequent calls to TryRefreshAsync fail to detect changes and do not attempt to retry the failed operation. This issue tracks the changes required t

[2020-06-30 21:58] #178 closed

[2020-07-02 08:42] zhenlan opened #180 "RefreshAsync() should continue retry until success in push model"
@drago-draganov and I had a discussion about this a while back.

It is not a problem `RefreshAsync()` only tries a few times (current behavior) in the pull model because the next call of `RefreshAsync()` will try again. However, in the push model, the next call to `RefreshAsync()` could be far away (in time). It becomes important that the `RefreshAsync()` will retry until success.

In terms of imp

[2020-07-02 15:53] jimmyca15 commented on #180
Good thinking Zhenlan and Drago. That would be quite troublesome for the push model. I am in agreement with the two points laid out. Sounds like that should give the proper retry mechanics to work for pull and push.

[2020-07-02 17:15] abhilasharora commented on #180
I looked at the retry implementation in the SDK and the exponential backoff policy does have jitter for randomization. As long as users configure the appropriate retry options for configuration client, both the listed points should be satisfied.

[2020-07-02 19:57] zhenlan commented on #180
We need to provide this behavior out of the box. Users don't need to do anything.

[2020-07-02 20:03] abhilasharora commented on #180
If we want to configure infinite retries for `RefreshAsync` in case of push model but not for pull model, then we would need to distinguish between those two cases, so I'm not sure I understand how we provide this behavior out of the box.

[2020-07-02 20:07] drago-draganov commented on #180
We should not distinguish between pull and push.
________________________________
From: Abhilash Arora <notifications@github.com>
Sent: Thursday, July 2, 2020 1:03:15 PM
To: Azure/AppConfiguration-DotnetProvider <AppConfiguration-DotnetProvider@noreply.github.com>
Cc: Drago Draganov <dragod@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/AppConfiguration-DotnetProvider] Re

[2020-07-02 20:07] drago-draganov commented on #180
Pull still can be infinite retries
________________________________
From: Drago Draganov <dragod@microsoft.com>
Sent: Thursday, July 2, 2020 1:06:57 PM
To: Azure/AppConfiguration-DotnetProvider <AppConfiguration-DotnetProvider@noreply.github.com>; Azure/AppConfiguration-DotnetProvider <reply@reply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: Re: [Azure/AppConfiguration-DotnetProvi

[2020-07-03 03:21] zhenlan commented on #180
`RefreshAsync` can throw. `TryRefreshAsync` won't. I just use `RefreshAsync` as an example.

[2020-07-03 03:23] zhenlan commented on #180
In the pull model, the `TryRefreshAsync` can have the same behavior as long as it satisfies the two bullets above.

[2020-07-03 03:25] abhilasharora commented on #180
For `RefreshAsync` to be able to throw, it has to give up retrying at some point, so it can't retry until it succeeds. If `TryRefreshAsync` retries till it succeeds, then it can never return a value of `false`. It will either remain stuck retrying or return `true`. Is the expectation for both methods to have different retry logic?

[2020-07-03 03:30] zhenlan commented on #180
Good point. Probably a new API will help. The idea is same though.

[2020-07-03 04:20] drago-draganov commented on #180
Throw API doesn't imply we can't retry forever under the hood. It accepts cancelation token to control.

Breaking API call due to internal/hidden number of retries is bad and difficult to control by the immediate caller. What's enough number of attempts? Let the caller decide how to cancel via explicit cancelation token. Drop the magic.
________________________________
From: Zhenlan Wang <notifica

[2020-07-03 16:03] RemyBoyer commented on #163
Hi there.

Have you had any time to look into this request?

On further thoughts, we think that having access to the currently internal interface `IKeyValueAdapter`, plus a way to add a custom implementation and instance to `AzureAppConfigurationOptions.Adapters` could be just enough.

This way, we could even create a custom adapter (we have a few use cases for that) and add a new implementation w

[2020-07-16 23:16] abhilasharora opened #182 "Allow users to select only feature flags in configuration provider"

[2020-07-20 19:43] zhenlan commented on #170
When a store reached the limit and is being throttled, the application will not be able to connect to App Configuration at startup (after retries), so it will throw an exception. The exception should include information on the reason for the failure (being throttled). Given that 500 is observed when the application was running in an App Service web app, the API behaved as expected. In terms of deb

[2020-07-22 17:55] abhilasharora opened #188 "Allow users to pass ClientId in CorrelationId"
For users that use the configuration provider from multiple machines with the same Client IP address, there is currently no reliable way to use the logs to determine the specific machine that sent a request. We want to allow users to pass a random string `ClientId` (preferably host name) in the `CorrelationId` header that could be used for this purpose.

[2020-07-23 23:48] abhilasharora commented on #167
These changes are now available in version `4.0.0-preview` of the package.

[2020-07-23 23:48] #167 closed

[2020-07-23 23:48] abhilasharora commented on #173
These changes are now available in version `4.0.0-preview` of the package.

[2020-07-23 23:48] #173 closed

[2020-07-23 23:48] abhilasharora commented on #166
These changes are now available in version `4.0.0-preview` of the package.

[2020-07-23 23:48] #166 closed

[2020-07-24 00:11] abhilasharora commented on #180
In the current implementation, the number of retry attempts is limited. This helps ensure that if the application does not have any activity, we do not continue to retry failed attempts to refresh the configuration. In the push model, even when there are no retry attempts for failures, the refresh operation would be re-triggered on the next call to `RefreshAsync`.

I believe the need for retry unt

[2020-07-24 00:16] abhilasharora commented on #169
This issue has been fixed in version `3.0.2` of the packages.

[2020-07-24 00:16] #169 closed

[2020-07-24 02:52] avanigupta opened #191 "Deserialize configuration settings with JSON content type"
### Overview
In order to preserve data types of non-string values in App Configuration, the "Content Type" property of settings can be leveraged. If a setting in App Configuration has a valid JSON content type and a valid JSON value, it should be deserialized by the Configuration Provider.

### Valid JSON Content Type
Media types, as defined [here](https://www.iana.org/assignments/media-types/medi

[2020-07-24 03:28] zhenlan commented on #180
As long as `*RefreshAsync` does not reset the "dirty flag" when it fails, looks like it will be fine as you said.

[2020-07-24 03:28] #180 closed

[2020-07-24 13:38] BlowaXD commented on #191
Hello,

Any date planned for the release ?

[2020-07-24 17:15] avanigupta commented on #191
Hi @BlowaXD , the preview version of this change has already been released. You can find the packages here:

- [Microsoft.Extensions.Configuration.AzureAppConfiguration](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureAppConfiguration/4.0.0-preview)
- [Microsoft.Azure.AppConfiguration.AspNetCore](https://www.nuget.org/packages/Microsoft.Azure.AppConfiguration.AspNetCore/4.0.

[2020-07-24 17:15] #191 closed

[2020-07-29 04:07] zhenlan commented on #133
This is resolved by the introduction of the new API below in `IConfigurationRefresher`, which can be called when an event is received from Event Grid.
[code]

[2020-07-29 04:07] #133 closed

[2020-07-29 05:25] zhenlan commented on #162
Include this in v4 release as it's a breaking change.

[2020-08-06 19:35] abhilasharora opened #192 "Fix issue with user agent header policy"
The change in the user agent header policy resulted in [our code](https://msazure.visualstudio.com/Azure%20AppConfig/_git/Azconfig-DotnetProvider?path=%2Fsrc%2FMicrosoft.Extensions.Configuration.AzureAppConfiguration%2FTracingUtils.cs&version=GBmaster) in the configuration provider to add this substring to the user agent. With this change, the order of user agent substring generation in the config

[2020-08-06 20:08] douglasware opened #194 "Does not work with Azure Functions v1"
To reproduce, create a v1 function app, pull in any of the release packages or the current preview and attempt to call AddAzureAppConfiguration
e.g.
builder = new ConfigurationBuilder();
_config = builder.AddAzureAppConfiguration(appServiceConnection).Build();

Result is - Could not load file or assembly 'System.Memory, Version=4.0.1.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'

System.IO.

[2020-08-06 20:21] abhilasharora commented on #194
@douglasware To diagnose the issue, could you share the following details?
1. List of packages used in your `csproj` file
2. Version of `System.Memory.dll` is present in the `bin` directory in your project
3. Versions of `System.Memory` available in the Nuget cache directory typically at `C:\Users\{userName}\.nuget`

[2020-08-06 21:08] douglasware commented on #194
1)  <PackageReference Include="Azure.Storage.Blobs" Version="12.2.0" />
    <PackageReference Include="Azure.Storage.Files.Shares" Version="12.0.1" />
    <PackageReference Include="Azure.Storage.Queues" Version="12.1.1" />
    <PackageReference Include="Microsoft.Extensions.Azure" Version="1.0.0" />
    <PackageReference Include="Microsoft.Extensions.Configuration.AzureAppConfiguration" Version="

[2020-08-11 17:54] douglasware commented on #194
@abhilasharora should I open an official support ticket for this?

[2020-08-11 18:06] abhilasharora commented on #194
@douglasware Apologies for the delay here. I can reproduce the issue. I'm looking into a possible workaround so the package could be used with v1 runtime of Azure Functions.

[2020-08-11 21:25] abhilasharora opened #195 "Add package tags to Nuget packages"
This issue tracks the addition of the following tags to the packages `Microsoft.Extensions.Configuration.AzureAppConfiguration` and `Microsoft.Azure.AppConfiguration.AspNetCore`. Here's a sample [link](https://www.nuget.org/packages/Azure.Data.AppConfiguration) that shows package tags on `nuget.org`.

`Microsoft`
`Azure`
`Configuration`
`AppConfig`
`AppConfiguration`
`Azure App Configuration`
`asp

[2020-08-12 16:02] abhilasharora commented on #194
@douglasware The following code snippet can be included in an Azure Functions v1 application to address the assembly resolution issues at runtime when using the App Configuration package. This method needs to be invoked in the function startup code or the constructor. It registers event handlers to ensure that the _appropriate_ versions of the required assemblies needed for App Configuration are l

[2020-08-13 14:04] douglasware commented on #194
Thanks Abhilash!
We will give this a try and let you know.

I am well aware that v1 is in maintenance mode. We use v3 when we can.

I'm part of a large customer and our user base is hundreds of thousands of people and we have a very large global footprint. We are mostly building on .NET Standard because we have significant edge cases still requiring .NET Framework and will be in that mode for the

[2020-09-11 16:08] #192 closed

[2020-09-18 12:40] b10-dslappendel commented on #136
@abhilasharora
I see that the latest version 4.0 ignores exceptions thrown from keyvault. However, I think I may have misunderstood the use case here. From what I can see, right now the whole configuration is seen as optional, meaning that if at least one keyvault exception is thrown, no configuration values are loaded.

I had hoped that this would cover our use case, which is ignoring only config

[2020-09-21 19:50] abhilasharora opened #203 "Allow remaining configuration to load when a key-vault reference fails to resolve"
_[Creating this issue on behalf of @b10-dslappendel as reported in issue [#136](https://github.com/Azure/AppConfiguration-DotnetProvider/issues/136)]_

I see that the latest version 4.0 ignores exceptions thrown from keyvault. However, I think I may have misunderstood the use case here. From what I can see, right now the whole configuration is seen as optional, meaning that if at least one keyvaul

[2020-09-21 19:58] abhilasharora commented on #136
@b10-dslappendel Thanks for your feedback. This issue tracks the ability to use `optional: true` to ignore all exceptions from this configuration source. I have created issue https://github.com/Azure/AppConfiguration-DotnetProvider/issues/203 to track your use case.

[2020-09-21 19:58] #136 closed

[2020-09-21 20:00] abhilasharora commented on #162
The fix has been released as a part of the version `4.0.0` of the package.
https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureAppConfiguration/4.0.0

[2020-09-21 20:00] #162 closed

[2020-09-21 20:00] abhilasharora commented on #195
The changes have been made as a part of the version `4.0.0` of the package.
https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureAppConfiguration/4.0.0

[2020-09-21 20:00] #195 closed

[2020-09-21 20:12] abhilasharora commented on #203
@b10-dslappendel Thanks for your feedback. I'm looking into ways to support the use case you shared. The recommended approach is to allow each application to only `Select` configuration settings that are needed for that application. The configuration provider will only attempt to load settings defined by the criteria defined by the `Select` clause(s).

In your scenario, is there a reason the appli

[2020-09-22 08:10] b10-dslappendel commented on #203
@abhilasharora Thanks for moving it in a new issue.
In our scenario, we have a bunch of apps that make use of the same app configuration instance. We have multiple key vaults, but for some higher privileged key vaults, most apps and users shouldn't have access to those unless it's really necessary to pass audits. However, since they are still referenced in app configuration, and they are still sel

[2020-10-01 16:24] SeanFeldman commented on #162
What's the guidance for the use cases where all keys have the same refresh and there are many keys?
With the current API, the only option is to specify the refresh rate for each one. Is there any alternative?

[2020-10-01 18:28] abhilasharora commented on #162
@SeanFeldman The cache expiration time configured using the `SetCacheExpiration` method is applicable for all key-value pairs (except feature flags), and cannot be set per key. Could you clarify what you mean by specifying refresh rate for each one?

[2020-10-01 21:36] SeanFeldman commented on #162
@abhilasharora, reading issue description

and looking at the sample
https://github.com/Azure/AppConfiguration-DotnetProvider/blob/939f7a178d391b6e85b0ddac9b7c76a744b959a7/examples/ConsoleApplication/Program.cs#L50-L61

it looks like one has to register every key and provide a cache expiration value.

[2020-10-02 00:41] abhilasharora commented on #162
@SeanFeldman Thanks for the clarification. At this time, the `ConfigureRefresh` method only supports registration of specific keys for refresh. No call to `Register` means the refresh won't happen for changes in _any_ key-value, and does not mean that refresh would happen for _all_ key-values. For scenarios that need all settings in the `Select` clause to be refreshed, the recommended approach is

[2020-10-02 00:46] DavidBoike commented on #162
In that case, let me restate the question. What is the best way to set the cache time for ALL keys so that the app doesn’t hammer away at the service to refresh every key every 30 seconds when all the values are _mostly_ static?

Preferably without having to register each key individually.

[2020-10-02 01:10] abhilasharora commented on #162
@DavidBoike The following code selects all key-values to be loaded at startup. It registers the key named `Sentinel` for refresh and sets the cache expiration time to 60 seconds. For each invocation of `RefreshAsync` or `TryRefreshAsync` method, it checks the time elapsed since the last call to the server was made for this key.

If less than 60 seconds have elapsed, no call to the server is made.

[2020-10-05 20:58] michaelmcdaniel commented on #162
How does this work with exclusively using only feature toggles?  Do we now have to specify a variable that we must update in order to change the value of the feature toggle without explicitly listing all the feature toggles?

[2020-10-05 23:13] abhilasharora commented on #162
@michaelmcdaniel The `UseFeatureFlags` method automatically registers refresh for all feature flags. It has its own [settings](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.azureappconfiguration.featuremanagement.featureflagoptions) for cache expiration time. For applications that only care about refresg only for feature flags, the `ConfigureRefresh` method is not

[2020-10-12 04:58] timhuang77 commented on #194
@abhilasharora I'm having this exact issue with Azure Functions v1 runtime and can confirm the workaround is working, do you know what might be the root cause?

However, if I were to use Azure.Identity v1.2.3 and Microsoft.Extensions.Configuration.AzureAppConfiguration v4.0.0, Azure Core 1.0.1 is the one causing the error:

[code]

BindingRedirects were used to redirect Azure.Core to use 1.4.1.0 i

[2020-10-12 18:08] #172 closed

[2020-10-13 01:09] abhilasharora commented on #194
@timhuang77 I believe the root cause is related to the usage of other assemblies that reference an older version of these assemblies in the .NET Framework application. For the error message in your post, adding the following additional binding redirect should help. In case it isn't working, I'd suggest cleaning up the temporary project files, clearing the NuGet cache directory, or using it in a ne

[2020-10-15 06:45] timhuang77 commented on #194
I see. I guess my question is why would BindingRedirects have no effect on these assemblies?

Assembly conflicts are common, and they're usually resolved with bindingRedirects. But in this case, no matter how it is redirected, it seems to reference older assemblies nonetheless.

For example, in the previous case, `System.Memory 4.0.1.0` should be redirected to `4.0.1.1` but no matter how the confl

[2020-10-15 16:55] abhilasharora commented on #194
@timhuang77 Yes, that's the expected behavior since Azure Functions do not support binding redirects. There are multiple issues in the Azure Functions repository where this has been reported by other users. Here is a [link](https://github.com/Azure/Azure-Functions/issues?q=is%3Aissue+%22binding+redirect%22+in%3Atitle+) to some of these.

[2020-10-22 16:17] JosXa opened #206 "KeyVault references only work using SecretClient, "SSL connection could not be established" for SetCredential."
I am running into an issue with the following code:

[code]

The interesting thing is that either version works on Azure, but our on-premise Jenkins server throws the following exception when trying to run the `kv.SetCredential()` version:

[code]

I was under the impression that both should be equivalent, as the Uri of the Key Vault is already encoded in the secret retrieved from App Configuratio

[2020-10-22 19:40] abhilasharora commented on #206
@JosXa This seems to be related to requests to the App Configuration endpoint being blocked by the firewall. I would suggest checking the firewall settings and ensuring that `*.azconfig.io` is allow-listed.

[2020-10-23 11:48] JosXa commented on #206
@abhilasharora awesome, that did the trick! Thanks a ton 🚀

[2020-10-23 11:48] #206 closed

[2020-10-23 22:46] MattMinke opened #207 "Add Support for Azure App Configuration events updating configuration."
Azure App Configuration can be configured to publish events. These events can be subscribed to by the same application that is using Azure App Configuration for configuration. The events published by Azure App Configuration could then be used to refresh the application's configuration. This would eliminate the need for the application to query for a changes as the changes would be published to the

[2020-10-23 23:22] abhilasharora commented on #207
@MattMinke Thanks for you suggestion. We already have support for using events from Event Grid to update the application configuration through push refresh, and some of our customers are currently using it in production. We are still working on adding documentation for it, so more customers can leverage this functionality.

[2020-10-24 00:22] MattMinke commented on #207
A call to `SetDirty(TimeSpan.Zero)` followed by a call to `IConfigurationRefresher.RefreshAsync()/TryRefreshAsync()` gets really close to what I am envisioning but is not quite what I am after. The Event Grid event includes the key and label details of the configuration key that was deleted or changed, and with this information you could issue a refresh for just that individual key. This would pre

[2020-11-05 19:14] avanigupta opened #209 "Allow users to configure the behavior when a Key Vault reference cannot be resolved"
### Problem

The recommended way to load key-values from App Configuration is to specify only what your application needs to use in the `Select` clause(s). This can be achieved by name-spacing key-values with a prefix or placing key-values into separate labels and loading only the required labels.

This rule of thumb also applies to any Key Vault references that are stored in App Configuration. If

[2020-11-05 19:16] avanigupta commented on #209
Related customer issues: #139,  #203

[2020-11-05 19:20] avanigupta commented on #203
Hi @b10-dslappendel, please see the proposed solution in #209 and let us know if that works for you.

[2020-11-05 19:22] avanigupta commented on #139
Hi @SamaraSoucy-MSFT, please see the proposed solution in #209 and let us know if you have any concerns.

[2020-11-10 20:37] abhilasharora opened #212 "Make it easier to run an event handler when settings from App Configuration change"
This items tracks the changes needed to allow users to be able to run some code when the settings cached by App Configuration are updated on refresh. Also update the documentation and code samples.

[2020-11-13 19:26] MattMinke opened #213 "JsonExtensionDataAttribute not always working."
I have the following json as a value in Azure App configuration and the following object model. The object model has two properties decorated with the JsonExtensionDataAttributes. The Settings property on the Carrier type is being honored and working as expected while the Arguments property on the StateRule type is not.  The state properties in the JSON are being lost.

### Actual Result:
Property

[2020-11-13 19:30] avanigupta opened #214 "Refresh registered settings are not updated in offline file cache if refreshAll is false"
If an exception occurs during startup or refreshAll scenario, we try to populate config from offline cache, if available.
However, we only update the settings in offline cache in the startup or refreshAll scenario. This means that individual key-values changes are never updated in offline cache until refreshAll is true.

For example, in this scenario:
[code]

Any changes in "TestKey1" will not be

[2020-11-13 23:00] zhenlan commented on #214
Just want to make sure we are on the same page - the offline cache is designed *not* to be updated from the fresh. It only caches whatever loaded at the app startup.

[2020-11-14 00:24] avanigupta commented on #214
Oh okay, so do we want to update offline cache when refreshAll scenario is triggered?
Currently we update the cache in both startup and refreshAll scenarios.

[2020-11-14 00:49] abhilasharora commented on #214
It should be fine to retain the current behavior for now. This would be addressed as a part of the improvements we plan to make to the offline cache in a future major release.

[2020-11-14 01:02] avanigupta commented on #214
Sure, this issue can help document the desired functionality so that we can pick it up for a future major release.

[2020-11-18 10:05] PeterFreemarket opened #216 "Offline cache default path not working on clean sites/slots without the D:\home\data folder"
I've just created a new slot for my site and realized, that the call to:

[code]

Throws a very confusing error: "Default cache path is only supported when running inside of an Azure App Service."
The code is obviously running inside of an Azure App Service, the problem is that the D:\home\data doesn't seem to exist yet.

[2020-11-18 19:35] abhilasharora commented on #216
@PeterFreemarket Thanks for reporting the issue. What is the runtime stack for your Azure App Service?

![image](https://user-images.githubusercontent.com/47916289/99578638-f4dc3100-2991-11eb-8f0d-edc83f6e188a.png)

[2020-11-18 23:00] abhilasharora commented on #207
@MattMinke We recommend users to configure refresh for a single key with the `refreshAll` parameter set to `true`. Whenever this key is updated, all settings configured in the `Select` clause would be updated. This approach does not have the problems that you mentioned in your last response. Only a single request to App Configuration is made in order to detect changes in settings, and users don't

[2020-11-19 08:07] PeterFreemarket commented on #216
Hi, the runtime stack is ASP.NET V4.8

[2020-11-19 18:00] abhilasharora commented on #216
@PeterFreemarket I'm able to reproduce this issue. As a workaround, I would suggest creating the directory `D:\home\data` manually. In a future release, we plan to make the detection of Azure Web App environment more reliable, and update code to create the `data` directory in case it doesn't already exist.

[2020-11-20 14:15] bvirkler commented on #135
Any updates on this?  Did it make it into the 4.0 release?

[2020-11-20 23:08] zhenlan commented on #135
This didn't make it into the 4.0 release. We are working on a redesign of the feature. It involves a bit more work. We didn't want to hold the 4.0 release for this.

[2020-12-08 01:44] avanigupta commented on #156
## Proposed Solution:

Consider the following example to better understand the solution:

Let's say that your App Configuration has the following key-values:

Key | Label | Value
--- |--- |---
TestKey | Label1 | Value1
TestKey | Label2 | Value2

### Existing behavior:

Key-values registered for refresh overwrite key-values loaded as part of `Select` clause(s). This means that if some key-value is

[2020-12-10 20:37] avanigupta opened #222 "Upgrade Azure.Security.KeyVault.Secrets to use KeyVaultSecretIdentifier.Parse() for KeyVault reference URI validation"
I see we should start using [KeyVaultSecretIdentifier.Parse](https://docs.microsoft.com/en-us/dotnet/api/azure.security.keyvault.secrets.keyvaultsecretidentifier.parse?view=azure-dotnet-preview). Since this next release will be adding a new API, and bumping a minor version. It will probably be a good candidate release for us to bump to [Azure.Security.KeyVault.Secrets 4.1.0](https://www.nuget.org/

[2020-12-10 20:48] avanigupta commented on #222
[KeyVaultSecretIdentifier.Parse](https://docs.microsoft.com/en-us/dotnet/api/azure.security.keyvault.secrets.keyvaultsecretidentifier.parse?view=azure-dotnet-preview) is only available in preview release right now. We can update this as soon as 4.2.0 package is released for Azure.Security.KeyVault.Secrets.

[2020-12-11 01:05] #156 closed

[2020-12-11 21:07] avanigupta commented on #209
Hi @b10-dslappendel, I agree with what @jimmyca15 has explained.

From the configuration provider's point of view, every key-value that is loaded by your application (through the `Select` clause) is possibly being **_used_** by your application. When a Key Vault secret cannot be resolved due to access issues, there are two possible situations:

1. Your app needs this Key Vault secret but does not

[2020-12-14 07:54] b10-dslappendel commented on #209
@avanigupta, ohh, I completely missed the fact that it's possible to handle secret retrieval manually this way. Many thanks for the snippet, I'll take a look and see if I can get it working!

[2020-12-14 20:51] #209 closed

[2020-12-14 20:51] #139 closed

[2020-12-14 20:51] #171 closed

[2020-12-14 20:52] #203 closed

[2020-12-16 02:14] avanigupta commented on #172
The fix has been released in package version 4.1.0:
- [Microsoft.Extensions.Configuration.AzureAppConfiguration](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureAppConfiguration/)
- [Microsoft.Azure.AppConfiguration.AspNetCore](https://www.nuget.org/packages/Microsoft.Azure.AppConfiguration.AspNetCore/)

[2020-12-16 02:15] avanigupta commented on #156
This feature has been released in package version 4.1.0:
- [Microsoft.Extensions.Configuration.AzureAppConfiguration](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureAppConfiguration/)
- [Microsoft.Azure.AppConfiguration.AspNetCore](https://www.nuget.org/packages/Microsoft.Azure.AppConfiguration.AspNetCore/)

[2020-12-16 02:16] avanigupta commented on #209
@b10-dslappendel ,
This feature has been released in package version 4.1.0:
- [Microsoft.Extensions.Configuration.AzureAppConfiguration](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureAppConfiguration/)
- [Microsoft.Azure.AppConfiguration.AspNetCore](https://www.nuget.org/packages/Microsoft.Azure.AppConfiguration.AspNetCore/)

[2021-01-11 12:38] wouterroos commented on #135
@zhenlan Is there a workaround for this issue in the meantime?

[2021-01-11 18:51] sameer-kumar opened #239 "SetOfflineCache throws exception and expects file"
Hello,

This is for an Asp.net core 3.1 project using Microsoft.Extensions.Configuration.AzureAppConfiguration 4.1.0.
Here is my registration code:

[code]

When I run the app for the first time, I see a new json file generated at specified location and everything works fine.
However, if the file is not there and an unexpected issue happens with AppConfiguration connectivity, the code throws FileN

[2021-01-12 02:57] abhilasharora commented on #163
@RemyBoyer I apologize this completely slipped through the cracks. Thanks for the detailed explanation of your scenario. I understand that applications may only want to retrieve the subset of feature flags that they need.

When using `UseFeatureFlags`, we currently configure all feature flags to be included in the initial configuration by calling `Select` and also register them for refresh. Here's

[2021-01-12 15:44] RemyBoyer commented on #163
@abhilasharora Thanks for your reply!

Unfortunately, I don't think it would be sufficient. Indeed, we have an N-N relationship between feature flags and what we call "scopes", which would in your case correspond to prefixes.

Here's an example:
We have two features called `Feature1` and `Feature2`, and multiple applications that use scopes called `ScopeA` and `ScopeB`.

As long as `ScopeA` only c

[2021-01-20 04:29] pratyushoak opened #248 "Detect change in KeyVault references"
I have an Azure Function, where we use Azure App Configuration to pull a certificate from our KeyVault. The AppConfiguration to KeyVault reference has been setup. The AppConfiguration registration looks something like this -
[code]
Everything works as expected when I use a value based 'Sentinel' key to detect a change in config. However, in my case I have auto-rotation setup on the KeyVault certif

[2021-01-22 15:07] RemyBoyer commented on #163
Hi @abhilasharora, have you had time to consider my response? After more than a year at building this as a side project when we had some free time at work, we are reaching the completion of our MVP, and need to know if this feature can make it to the App Configuration nuget. Having this feature would clearly simplify some of our code and configuration.

Thanks in advance!

[2021-01-29 00:29] jimmyca15 commented on #163
Hey @RemyBoyer I took a look at this and here's what I came up with. Mostly I'm close to what @abhilasharora suggested.

* to reduce the number of feature flags that are scanned every 30s (or whatever the cache expiration is set to)

I would recommend that you use the push model for refreshing configuration/feature flags. This is the best bet for scalability since no polling is needed; not even fo

[2021-02-04 00:29] abhilasharora opened #230 "Push Refresh : Allow users to update sync token from change events"
For the push refresh scenario, users can subscribe to key-value change events and invoke `SetDirty` method to ensure that the next call to `RefreshAsync` retrieves the updated configuration. This item tracks the addition of a way that allows users to provide the sync token received in the key-value change event, and ensures that the next refresh uses that token to receive the most-recent configura

[2021-02-04 01:59] zhenlan commented on #230
We probably should just pass the event to `SetDirty` and then let the sync token flow transparently to users, so users don't need to know about the sync token.

[2021-02-04 02:24] abhilasharora commented on #230
Yes, that's the plan. I updated the title to clarify that we want to allow users to pass sync token, and don't need an additional API. Here's the change to the `SetDirty` signature. We could also add multiple overloads, if needed.

[code]

[2021-02-04 02:33] zhenlan commented on #230
Sounds good. Is it possible for the user to avoid parsing the sync token?

[2021-02-04 02:48] abhilasharora commented on #230
When using the Service Bus SDK to receive events, the user code would need to perform three steps. I don't see a clean way to avoid these steps in user code in a generic way.

1. Convert `bye[] message.Body` to a string
2. Parse the string as JSON to extract `data` -> `syncToken`
3. Pass the `syncToken` to `SetDirty` method

[2021-02-04 06:15] zhenlan commented on #230
Yes, I understand users normally don't deal with events from the Event Grid directly. It really depends on which handler service they choose. Maybe we can take the whole JSON string or the `data` portion as the parameter.

I almost feel the sync token should be a required parameter. Without it, it relies on luck for the next refresh to fetch the latest change.

[2021-02-04 07:24] abhilasharora commented on #230
Yes, we could take the whole JSON string as a parameter, assuming it conforms to our [event schema](https://docs.microsoft.com/en-us/azure/event-grid/event-schema-app-configuration#example-event) across all handlers. When using Event Grid and Service Bus, here's an example of what sample code could look like.

[code]

By default, we do have a randomized delay of up to 30 seconds before the `SetDir

[2021-02-05 13:15] RemyBoyer commented on #163
Hi @jimmyca15, thanks for your response.

This is a very interesting capability. Unfortunately, I can't access this pull request. I'm a bit concerned by the engineering overhead that might be required for this push capability to work, though. If that overhead doesn't scale well (with the number of apps that will use the az app config), it might not be worth it. I guess it will be much clearer as s

[2021-02-09 04:39] abhilasharora commented on #163
For the push model, the documentation can be found [here](https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-dotnet-core-push-refresh). This is our recommended approach for scenarios where there are a large number of instances retrieving configuration from App Configuration, or if there are concerns about exceeding the rate limits.

For the poll model, the

[2021-02-09 10:32] RemyBoyer commented on #163
@abhilasharora thanks for the documentation. We'll look into that

Regarding the `Prefix` and `EnableRefresh`, as said earlier, it fits our scenario with some changes on our side. If it fits the current designs and what you want to provide to others in the future, then I guess we have a good compromise.

I didn't understand that those proposals were "new", though. If you can add it to your roadmap

[2021-02-12 21:52] jimmyca15 commented on #163
@RemyBoyer we are looking into it and should be able to get to it ourselves.

I looked again at the proposal, and I don't think that `DisableRefresh` is needed at all. The scenario of preventing full-scan of feature flags should be covered by setting a prohibitively high cache expiration on the feature flag options. The feature flag cache expiration is separate from the sentinel key cache expirati

[2021-02-13 10:17] RemyBoyer commented on #163
@jimmyca15 I agree with you, having a very high expiration won't be that much different than having none at all.

The key part is the `Prefix`, where we can narrow the selection to specific "scopes". I imagine that adding the prefix will also trim the name? Like the `TrimPrefix` option does for non feature flags? This would keep the feature flag names as easy to use as possible.

[2021-02-14 04:08] zhenlan opened #231 "Force to reload configuration periodically"
Consider adding an API so data from App Configuration can be reloaded periodically at custom intervals regardless of whether the registered keys have been modified or have *refreshAll=true*. This helps to reload values of Key Vault references, so App Config is more useful in "secret/cert rotation" scenarios.
- We may want to restrict the minimum reload time to, for example, 12~24 hours.
- This bas

[2021-02-17 17:10] jimmyca15 commented on #163
It wouldn't automatically, but adding a `TrimPrefix` option is possible, [just like we have for normal settings](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.azureappconfiguration.azureappconfigurationoptions.trimkeyprefix?view=azure-dotnet-preview).

One thing to consider when trimming prefixes is that if two feature flags have a matching name after trimming the

[2021-02-17 17:15] RemyBoyer commented on #163
Yes, it's ok in our case, since the feature flag names are guaranteed to be unique, as they are created with a specific app that enforces this. I guess it's how it works with the normal settings anyway?

[2021-02-17 17:29] jimmyca15 commented on #163
Yes.

[2021-02-22 17:00] kamilzzz opened #232 "KeyVault retry options"
We should be able to provide Key Vault's SecretClientOptions in order to override default Key Vault's retry policy (if any).

Right now I think it's not possible and I'm also not sure if Key Vault by default retries 429 errors from service.

[2021-02-22 18:42] abhilasharora commented on #232
@kamilzzz The [AzureAppConfigurationKeyVaultOptions.Register(SecretClient)](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.azureappconfiguration.azureappconfigurationkeyvaultoptions.register?view=azure-dotnet-preview) method within the `ConfigureKeyVault` method can be used to register a user-instantiated instance of `SecretClient`. This instance of `SecretClient` c

[2021-02-23 00:07] kamilzzz commented on #232
@abhilasharora thanks. I missed that out...

[2021-02-23 00:07] #232 closed

[2021-03-15 16:26] matthawley opened #235 "Calling UseFeatureFlags multiple times ignores subsequent key refreshers"
We're starting to utilize Azure App Configuration to manage both a "all services" and "specific service" via the usage of labels. However when we call UseFeatureFlags multiple times, only the first call registers a multi key watcher for backend refreshing.

I believe the issue to be related to this line of code, wherein the label should also be considered when adding a new multi key watcher or not

[2021-03-19 02:00] avanigupta commented on #235
Hi @matthawley, currently we do not support this scenario. But we are working on introducing a new API with which you can register multiple feature flags with different labels and they will be refreshed appropriately. Please see [this PR](https://github.com/Azure/AppConfiguration-DotnetProvider/pull/234) for more details.

[2021-03-19 02:37] matthawley commented on #235
Thanks @avanigupta - my workaround for now is to just register 2 app configuration providers.

[2021-03-21 11:48] bennypowers commented on #157
Please see https://stackoverflow.com/questions/65919559/access-azure-app-configuration-settings-that-reference-key-vault-in-nodejs/66018270?noredirect=1#comment117832100_66018270

If this issue can help improve the node.js SDK's ergonomics, it would be a huge benefit to users.

Thanks

[2021-03-21 20:49] #194 closed

[2021-03-21 20:51] #207 closed

[2021-03-21 21:00] #170 closed

[2021-03-21 21:07] zhenlan commented on #213
If the key-value has been loaded to configuration successfully, the binding is not what App Configuration handles. With that being said, using JSON content-type may be helpful in your case.
https://docs.microsoft.com/azure/azure-app-configuration/howto-leverage-json-content-type

[2021-03-21 21:07] #213 closed

[2021-03-23 17:30] oh-yeah opened #241 "Allow Users to Provide Custom Key Value Adapters"
Howdy,

We are currently in the process of creating and upgrading some of our projects from .NET to NET 5.  One of the big problems we faced was app configurations, specifically how to use a single Azure AppConfiguration container for both style projects without having to duplicate hundreds of keys.  For reference, the project types previously mentioned use very different data structures to store

[2021-04-01 20:31] avanigupta commented on #248
## Overview

Azure App Configuration Provider supports loading secrets from Key Vault into your application configuration based on the Key Vault references stored in your App Config store. Key Vault references are a special type of key-value in AppConfig, where the value is a URI that references the secret in Key Vault.

There are times when your application could be using secrets from Key Vault t

[2021-04-14 23:56] avanigupta commented on #235
@matthawley, the feature has been released in package version **4.3.0-preview**:

- [Microsoft.Extensions.Configuration.AzureAppConfiguration](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureAppConfiguration/4.3.0-preview)
- [Microsoft.Azure.AppConfiguration.AspNetCore](https://www.nuget.org/packages/Microsoft.Azure.AppConfiguration.AspNetCore/4.3.0-preview)

Please let us k

[2021-04-14 23:57] avanigupta commented on #163
@RemyBoyer, the feature has been released in package version **4.3.0-preview**:

- [Microsoft.Extensions.Configuration.AzureAppConfiguration](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureAppConfiguration/4.3.0-preview)
- [Microsoft.Azure.AppConfiguration.AspNetCore](https://www.nuget.org/packages/Microsoft.Azure.AppConfiguration.AspNetCore/4.3.0-preview)

Please let us kn

[2021-04-15 06:08] RemyBoyer commented on #163
@avanigupta Great news, thank you! I'll check it out asap

[2021-04-17 10:03] RemyBoyer commented on #163
@avanigupta, I've tested the changes I have a few feedbacks: one regarding performance and two other ones regarding usage.

For a bit of context, here's how I use the new and existing features to achieve the goal stated in the original request:

[code]

### Loading issue
The issue with this is that despite selecting a specific prefix, the library still loads the entire AAC data.
The reason is that

[2021-04-17 14:34] jimmyca15 commented on #163
Thank you for the awesome feedback @RemyBoyer

### Loading issue

The feedback is noted and we'll think about it a bit more but want to offer some details.

AAC provides settings and feature flags. By default, just calling `AddAzureAppConfiguration` pulls all settings. We didn't want the addition of `UseFeatureFlags` to automatically take away all the settings that were put into the application, t

[2021-04-18 07:44] RemyBoyer commented on #163
Hi @jimmyca15, thank you for your response.

### Loading issue

Ok, I understand your point, and wasn't aware of this intention.
I would just add that to me, `Select()` on `FeatureFlagOptions` should behave as much as possible like `Select()` on `AzureAppConfigurationOptions`.

But since I have a way of enforcing this, it's not a blocker.

### Select and TrimFeatureFlagPrefix feedback

On this one

[2021-04-19 15:28] jimmyca15 commented on #163
If this works for you this is what I would opt for.

Thank you for the continuous, thorough feedback. We are happy to help. Please let us know if you find any further room for improvement.

[2021-04-21 08:40] #163 closed

[2021-04-21 08:44] RemyBoyer commented on #163
Since you're asking @jimmyca15, there is another issue that's important to us: https://github.com/microsoft/FeatureManagement-Dotnet/issues/28

The solution we have chosen right now to bypass it is to fork the FeatureManagement libs.
We would have prefered avoiding this. We will go back to the official libs if you provide this enhancement.

[2021-05-05 21:32] jimmyca15 commented on #163
@RemyBoyer
I see, for that enhancement it looks like we could not come to a solution that we agreed on at that point. We will need to revisit that.

Regarding this issue, since `TrimFeatureFlagPrefix` ended up not being necessary after being introduced in our preview API version 4.3.0-preview we will exclude it in our upcoming stable release.

[2021-05-10 18:38] avanigupta commented on #248
This feature has been released in package version 4.4.0:
- [Microsoft.Extensions.Configuration.AzureAppConfiguration](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureAppConfiguration/)
- [Microsoft.Azure.AppConfiguration.AspNetCore](https://www.nuget.org/packages/Microsoft.Azure.AppConfiguration.AspNetCore/)

[2021-05-10 18:38] #248 closed

[2021-05-12 18:15] avanigupta commented on #235
The stable version for this feature has been released in v4.4.0.

[2021-05-12 18:15] #235 closed

[2021-05-12 18:20] avanigupta commented on #241
Hi @oh-yeah, we are working on releasing the custom mapping API discussed in #157. Would that solve your problem without having to expose `IKeyValueAdapter`?

[2021-05-18 12:12] svrooij opened #260 "Using Azure AppConfiguration for Feature Flags in dotnet core worker service"
I'm trying to use Microsoft.FeatureManagement in a dotnet core worker service. But I have no clue how to configure it that it will periodically check if the feature flags have been changed.

Since it's not a asp.net core app I don't have a `Configure` and I thus cannot do `app.UseAzureAppConfiguration();`.

Do I need to call something periodically to refresh the feature flags that are configured i

[2021-05-25 10:08] theo-albers commented on #231
Yes, please and disabling caching would be part of this feature.

What I find confusing is the ConfigureRefresh API: when I upgraded to v4.x I had to remove the SetCacheExpiration call, since I have no watchers (see #162). Adding SetCacheExpiration results in a runtime exception, which is not so nice.

Without documentation it's difficult to tell what the default behavior is of the caching algorit

[2021-05-25 18:59] avanigupta commented on #231
Hi @theo-albers, here's a short description of the refresh behavior for key-values, feature flags and Key Vault references.

### Key-Values

We don't support a default cache expiration interval for all key-values yet. You must register each key-value which needs to be monitored for changes and then set cache expiration for those registered key-values. We use the default cache expiration value of 3

[2021-05-25 23:51] avanigupta commented on #260
Hi @svrooij, for a .NET Core app, you need to call [`RefreshAsync`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.azureappconfiguration.iconfigurationrefresher.refreshasync) or [`TryRefreshAsync`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.azureappconfiguration.iconfigurationrefresher.tryrefreshasync) to refresh your key-values o

[2021-05-26 07:19] theo-albers commented on #231
Thanks for the great summary @avanigupta, much appreciated!

[2021-06-05 16:29] shaneholder opened #261 "Namespacing for Feature Flags"
Is there a way to namespace Feature flags using Azure App Configuration.  I have several applications connecting to a single App Configuration and would like to be able to use the same name for a feature flag in different contexts.  This would allow me to enable featureA for application A but not for application B.  I know that I can do this just by using prefixes on the names but I was hoping for

[2021-06-06 15:20] shaneholder commented on #260
@svrooij you've probably figured this out by now but when you execute UseFeatureFlags a key is automatically registered to be watched.  If you do not specify a Select() in the options then a value of * is used which watches all feature flags.  You do not need to call ConfigureRefresh for FeatureFlags to refresh.

[2021-06-08 20:41] svrooij commented on #260
I think the answer I was looking for was:

The **IConfigurationRefresherProvider** is registered when you call `.AddAzureAppConfiguration(...)`. You can use it to refresh all the configuration settings by resolving the **IConfigurationRefresherProvider** and the following code:

[code]

Is this correct? If so, this might be a great addition in the docs.

[2021-06-08 20:52] avanigupta commented on #260
That is correct. And yes, we should add this note in our docs too. Thanks for the suggestion!

[2021-06-08 20:57] avanigupta commented on #261
Hi @shaneholder, this work is being tracked here: https://github.com/Azure/AppConfiguration/issues/519

[2021-06-08 20:58] #261 closed

[2021-06-08 21:49] svrooij commented on #260
I think https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-app-configuration/enable-dynamic-configuration-dotnet-core.md

can use an extra section

[code]

[code]

[2021-06-24 16:59] oh-yeah commented on #241
Sorry for the delayed response, busy times.  The custom mapping API, at the surface, does seems like it would solve this issue.  Will this mapping API also allow me to perform a strict mapping mode myself?  In other words, what would happen if I opt into configuration mapping but didn't set a configuration value or return null?

[2021-06-26 00:28] avanigupta commented on #241
if you return null for a particular `ConfigurationSetting`, that `ConfigurationSetting` will not be added to your application configuration (`IConfiguration`).

[2021-06-29 23:14] dluc opened #263 "Please provide more examples"
* How to integrate with KeyVault, while working locally, e.g. when AAD is not available
* How to integrate with KeyVault, when the app is deployed to the cloud

Thanks

[2021-06-30 18:47] dluc opened #264 "Allow to skip KeyVault references"
When setting up Azure App Config without `ConfigureKeyVault`, the configuration builder fails with an exception if the service contains a KeyVault reference, because it is unable to resolve those references.

When developing locally without VisualStudio, where there's no support for managed identities and no VS authentication, one has to setup KeyVault credentials manually, using 3 environment var

[2021-07-05 18:44] gkarnik-gl commented on #231
Can I refresh the provider on-demand using IConfigurationRefresher instance since IConfigurationRefresherProvider is now available as part of dependency injection? I tried invoking TryRefreshAsync but don't see the key values refreshed in IConfiguration instance even in subsequent calls.
[code]

[2021-07-06 16:49] avanigupta commented on #263
Hello @dluc, please see this document for information on integrating with KeyVault in production vs development environments: [Grant your app access to Key Vault](https://docs.microsoft.com/en-us/azure/azure-app-configuration/use-key-vault-references-dotnet-core?tabs=core5x#grant-your-app-access-to-key-vault)

Let me know if you have more questions.

[2021-07-06 16:54] avanigupta commented on #264
We have an API that allows you to custom resolve Key Vault references. Please see this issue for details and examples: #209

[2021-07-06 17:13] avanigupta commented on #231
Hello @gkarnik-gl, yes, it's possible to refresh configuration on demand by invoking `TryRefreshAsync` method.
There are two common issues which could cause your configuration to not refresh:

1. In order to keep the settings updated and avoid too many calls to App Configuration, a cache is used for each setting. Until the cached value of a setting has expired, the refresh operation does not updat

[2021-07-06 17:31] dluc commented on #263
@avanigupta thanks however I went through all the docs and tried different approaches and nothing in the docs would work. I think there's the assumption that one person would work with VS or have the CLI installed, which is not always the case.

This is the code that I ended up writing:

[code]

[2021-07-07 19:03] avanigupta commented on #263
@dluc, if you see the documentation of [DefaultAzureCredential](https://docs.microsoft.com/en-us/dotnet/api/azure.identity.defaultazurecredential?view=azure-dotnet), the first credential that is tried is the [EnvironmentCredential](https://docs.microsoft.com/en-us/dotnet/api/azure.identity.environmentcredential?view=azure-dotnet). This credential ultimately uses `ClientSecretCredential` for authen

[2021-07-07 19:17] dluc commented on #263
nice, I missed that part. Thank you!

[2021-07-07 19:17] #263 closed

[2021-07-14 01:04] avanigupta commented on #239
Hi @sameer-kumar, we are evaluating how Offline Cache is used in different applications. Could you please help us understand the problem you are trying to solve by using Offline Cache?

[2021-07-14 01:05] avanigupta commented on #216
Hi @PeterFreemarket, we are evaluating how Offline Cache is used in different applications. Could you please help us understand the problem you are trying to solve by using Offline Cache?

[2021-07-14 01:06] avanigupta commented on #135
Hi @bvirkler, we are evaluating how Offline Cache is used in different applications. Could you please help us understand the problem you are trying to solve by using Offline Cache?

[2021-07-14 17:20] sameer-kumar commented on #239
Thanks for reaching out. The intent here is to rely on offline cache as fallback mechanism if connection is lost or could not be established to Azure App Configuration service.

[2021-07-14 20:15] avanigupta commented on #264
Feel free to reopen the issue if you have more questions.

[2021-07-14 20:15] #264 closed

[2021-07-14 23:37] bvirkler commented on #135
We're using App Configuration for apps hosted on-premises.  We wanted to use offline cache to minimize the impact of a loss of connectivity to Azure.

[2021-07-15 06:49] PeterFreemarket commented on #216
Hi @avanigupta, the motivation was to have some kind of fallback if the app configuration store is unavailable (downtime, etc..). Our app is able to run ok without the app configuration store being available, but it is not able to start without it.

[2021-08-19 01:16] avanigupta commented on #222
[Azure.Security.KeyVault.Secrets v4.2.0](https://www.nuget.org/packages/Azure.Security.KeyVault.Secrets/4.2.0) was released but it doesn't have the original `KeyVaultSecretIdentifier.TryParse` API. Tracking this [feature request](https://github.com/Azure/azure-sdk-for-net/issues/23146) for Key Vault SDK team to add it again.

[2021-08-19 14:38] acgritt opened #274 "Add a SetSecretClientOptions to the AzureAppConfigurationKeyVaultOptions"
I know this was partially covered in #232 but it would be better to provide an extension to supply default SecretClientOptions for the setup. This way we could write:
[code]

Using the [AzureAppConfigurationKeyVaultOptions.Register(SecretClient)](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.azureappconfiguration.azureappconfigurationkeyvaultoptions.register?view=a

[2021-08-24 18:14] avanigupta commented on #212
We can improve our documentation to suggest using [IConfiguration.GetReloadToken](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.iconfiguration.getreloadtoken?view=dotnet-plat-ext-5.0) to watch for configuration changes.

[2021-09-02 18:22] avanigupta opened #275 "Add CancellationToken support in TryRefreshAsync"

[2021-09-17 17:51] zhenlan commented on #134
@avanigupta @jimmyca15

While it's useful to add logs when anything goes wrong during the refresh, it's also helpful whenever a configuration update has happened. Users need a positive signal to confirm a successful configuration update. Is this something we can add?

[2021-09-17 19:00] avanigupta commented on #134
Sure, we could add an informational log every time `IConfiguration` is updated by a refresh operation. To keep it simple, we could start with a single log entry when anything is updated:
`IConfiguration updated from Azure App Configuration.`

Alternatively, we could provide more details by indicating which type of key-value changed. For example:
`Key Vault secret(s) updated from Azure Key Vault.`

[2021-09-17 19:15] zhenlan commented on #134
Sounds good, @avanigupta. What's the difference between the first and the third?

[2021-09-17 19:28] avanigupta commented on #134
I meant that we have two options:

**Option 1:** A single log for any kind of changes:
    - `IConfiguration updated from Azure App Configuration.`

**Option 2:** Multiple logs indicating which type of key-value changed - this will further be divided into two categories and we will pick the log depending on the condition:

A. `LoadAll()` was triggered so the entire configuration was updated:

[2021-09-17 20:41] jimmyca15 commented on #134
That sounds like a debugging scenario to me. What's the motivation for this?

[2021-09-17 21:08] zhenlan commented on #134
This is not for debugging. It creates the full circle for change and health monitoring. For example, in our service, we like to see logs whenever a change happened - either it's a cert rotation or it's a resource cleanup. In the config provider, we are making changes on behalf of the users, if we don't log those changes, users will have a hard time adding their own.

@avanigupta how about 2.A *and

[2021-09-20 19:30] oh-yeah commented on #241
Did the mapping api in #157 ever get pushed out?  I feel like this would meet my needs, but I'd like to run some tests to verify.

[2021-09-21 00:31] avanigupta commented on #241
The Map API has not been released yet. We'll update #157 issue when its ready for release.

[2021-10-01 12:37] jsquire opened #277 "Please provide a link to the new API/method for offline cache"
# Issue Transfer

This issue has been transferred from the Azure SDK .NET repository, [#24355](https://github.com/Azure/azure-sdk-for-net/issues/24355).

### Please be aware that @bigjonroberts is the author of the original issue and include them for any questions or replies.

## Details

The release notes [here](https://github.com/Azure/AppConfiguration/pull/544) indicate that the current impleme

[2021-10-12 21:07] pwiens opened #279 "AzureAppConfigurationRefresherProvider doesn't work with .NET 6 ConfigurationManager"
In .NET 6 using the new minimal builder style (don't know the name) adding app configuration middleware fails because the IConfigurationRoot in this case is a ChainedConfigurationProvider so it doesn't find any refreshers.

[code]

[2021-10-12 21:44] avanigupta commented on #279
Similar to #168. The same solution could fix both issues.

[2021-10-19 22:03] #275 closed

[2021-11-03 16:22] avanigupta opened #284 "Ensure that KeyVault SecretRefreshInterval cannot be less than 1 second"
`MinimumSecretRefreshInterval` is not being used yet. I'll create a separate PR for adding this check in KeyVault options. Since its technically a breaking change, we can release it with 5.0.0.

_Originally posted by @avanigupta in https://github.com/Azure/AppConfiguration-DotnetProvider/pull/283#discussion_r741504896_

[2021-11-07 22:21] zhenlan opened #287 "Middleware for Azure Functions (.NET Isolated)"
Azure Functions introduced [.NET isolated process functions](https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide), which support the middleware model.

### Proposal
Release a middleware package that enables automatic configuration refresh for Azure Functions (https://github.com/Azure/AppConfiguration/issues/195#issuecomment-962401762).

Proposed package name: **Mic

[2021-11-08 20:25] #279 closed

[2021-11-08 20:27] zhenlan opened #290 "Add net6 support in packages"
Now that .NET 6 has GA'ed. We should add net6 support in our packages.

[2021-11-12 18:35] #284 closed

[2021-11-15 21:51] #230 closed

[2021-11-23 07:39] ielcoro opened #293 "Guidance on using App Configuration on Multi-Tenant applications"
I'm not able to find any documentation or examples about using App Configuration on multi-tenant applications. I can only find documentation on how to map on startup to specific labels or prefixes, however in a multi-tenant application, for example an api that servers requests to multiple tenants, you need to filter the configuration on a per-request basis, loading the current tenant from the curr

[2021-12-02 14:25] jsquire opened #294 "IConfigurationRefresher still Preview"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#25639](https://github.com/Azure/azure-sdk-for-net/issues/25639).

### Please be aware that @Terry-Cornwell is the author of the original issue and include them for any questions or replies.

## Details

Hi,
Is the IConfigurationRefresher interface still considered Preview? Other documentation (best practice

[2021-12-10 21:49] #287 closed

[2021-12-15 19:17] avanigupta commented on #294
Hello @Terry-Cornwell, thank you for reporting this. You are right, `IConfigurationRefresher` is not in preview anymore. The documentation has been updated to remove the preview tags.

[2021-12-15 19:17] #294 closed

[2021-12-16 14:31] Cisty77 opened #298 "Microsoft.Extensions.DependencyInjection.Abstractions: Unable to resolve service for type 'Microsoft.Extensions.Configuration.AzureAppConfiguration.IConfigurationRefresherProvider' while attempting to activate 'Nexion.AzureAPIProjTemplate.Function1'."
Hi,
in the Azure function, i receive the followinf exception:
Microsoft.Extensions.DependencyInjection.Abstractions: Unable to resolve service for type 'Microsoft.Extensions.Configuration.AzureAppConfiguration.IConfigurationRefresherProvider' while attempting to activate 'Nexion.AzureAPIProjTemplate.Function1'.
I use .Net 6.0 and Microsoft.Extensions.Configuration.AzureAppConfiguration 4.5.1
Start

[2021-12-16 17:04] zhenlan commented on #298
Just in case, did you miss the assembly attribute in the startup.cs?
[code]

[2021-12-16 23:13] zhenlan opened #299 "UseAzureAppConfiguration should be put in Microsoft.Azure.Functions.Worker namespace"
The `UseAzureAppConfiguration` extension method should be put in the same namespace as `IFunctionsWorkerApplicationBuilder` so users don't have to add the additional namespace `Microsoft.Azure.AppConfiguration.Functions.Worker` to their code.

[2021-12-17 07:13] Cisty77 commented on #298
Thanks,
That was missing.
Documentation on this should be updated.

[2021-12-17 20:37] avanigupta commented on #277
Hello @bigjonroberts, we decided to completely remove offline caching capabilities. Please see this announcement for more details: https://github.com/Azure/AppConfiguration-Announcements/issues/20

[2021-12-17 20:37] #277 closed

[2021-12-17 20:38] avanigupta commented on #135
We decided to completely remove offline caching capabilities. Please see this announcement for more details: https://github.com/Azure/AppConfiguration-Announcements/issues/20

[2021-12-17 20:38] #135 closed

[2021-12-17 20:39] avanigupta commented on #239
We decided to completely remove offline caching capabilities. Please see this announcement for more details: https://github.com/Azure/AppConfiguration-Announcements/issues/20

[2021-12-17 20:39] #239 closed

[2021-12-17 20:39] avanigupta commented on #216
We decided to completely remove offline caching capabilities. Please see this announcement for more details: https://github.com/Azure/AppConfiguration-Announcements/issues/20

[2021-12-17 20:39] #216 closed

[2021-12-17 20:40] avanigupta commented on #214
We decided to completely remove offline caching capabilities: https://github.com/Azure/AppConfiguration-Announcements/issues/20

[2021-12-17 20:40] #214 closed

[2021-12-17 20:53] zhenlan commented on #298
@Cisty77 I'm glad it fixed the issue. The assembly attribute is called out in step 2 of the [document](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-azure-functions-csharp?tabs=in-process#connect-to-an-app-configuration-store).

[2021-12-17 20:53] #298 closed

[2022-01-25 11:05] maxkoshevoi opened #300 "Add nullable annotations"
Please, add support for nullable reference types to these packages.

`Microsoft.Extensions.*` dependencies should be annotated in .Net 7 (not all of them are annotated so far)

[2022-01-25 21:27] zhenlan opened #301 "Deprecate SetDirty API"
Mark the `SetDirty` API obsolete in the version 5.0.0 release with a message suggesting users migrate to the `ProcessPushNotification` API.

With the introduction of the `ProcessPushNotification` API, users of the `SetDirty` API for push-model refresh should migrate to the new API, which provides necessary data consistency.

[2022-01-31 19:51] #301 closed

[2022-02-03 01:50] zhenlan commented on #299
Looks like we should have put it under `Microsoft.Extensions.Hosting` like other extension methods

https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.hosting.middlewareworkerapplicationbuilderextensions.usedefaultworkermiddleware

[2022-02-03 02:45] avanigupta commented on #299
Yes, totally missed that! However, changing the namespace will be a breaking change. Since we have already released 5.0.0 version today, this would need to be fixed in 6.0.0 release.

[2022-02-03 02:57] zhenlan commented on #299
Sorry, it was an oversight on my part.

The `Microsoft.Extensions.Hosting` namespace should be present in users' projects already, so nothing will really be breaking. I am wondering if we can roll a 5.0.1 just for this package quickly.

[2022-02-03 03:10] avanigupta commented on #299
We can do a quick 5.0.1 release just for this package, and we can even deprecate 5.0.0 if needed.

[2022-02-03 03:46] zhenlan commented on #299
Good idea. We can unlist 5.0.0 from nuget.org.

[2022-02-03 19:26] #299 closed

[2022-02-09 18:55] bipinraghavan opened #309 "Azure app configuration does not load the configuration when a disabled key vault secret is present."
Hi,
I have an Azure app configuration with 2 keys. Both have key vault references as values. When one of the key-vault secret is disabled for some reason (because expiration date has passed, not needed for now etc.,), entire configuration loading fails after throwing KeyVault reference exception.
I tried using SetSecretResolver, but it looks like if the registered KV client encounters any exceptio

[2022-02-12 02:43] avanigupta commented on #309
Hi @bipinraghavan, Key Vault does not allow read operations on disabled/expired secrets and throws 403 error. This is by design. We never hide the exceptions thrown by KeyVault because that would leave the application configuration in an undefined state. But if you want more control over error handling, you can implement your own secret resolver by using the SetSecretResolver API.

That is correct

[2022-02-15 20:40] #309 closed

[2022-02-23 23:55] jimmyca15 opened #311 "Passing an empty string as the value for labelFilter in AzureAppConfigurationOptions.Select retrieves key-values in all labels."
This unexpected behavior was originally described [here](https://github.com/Azure/AppConfiguration/issues/610).

As shown in [this line](https://github.com/Azure/AppConfiguration-DotnetProvider/blob/22b9b3bb3ba128d82e7aacceb8983106b900c810/src/Microsoft.Extensions.Configuration.AzureAppConfiguration/AzureAppConfigurationOptions.cs#L130), the Azure App Configuration provider prevents querying key-v

[2022-02-24 00:04] jimmyca15 commented on #311
Also repros with whitespace.

[2022-02-26 00:57] avanigupta opened #312 "Conditionally add App Config provider depending on the environment that the app is running in"
### Background:

In some situations, users may want to load their configuration differently based on the app's current hosting environment. Some examples include:
1. Load key-values from a different AppConfig store in different environments
2. Load key-values with a different label in different environments
3. Don't load anything from AppConfig in development environment

Currently, users can do t

[2022-02-28 15:43] PeterFreemarket commented on #216
The recommended HA approach, while functioning, has some drawbacks:
1/ There is no out of the box synchronization functionality between the stores. I know I can create one myself, but I'm not using off the shelf solutions to create something like this myself.
2/ If using 2 or more stores one need to mark all of them as optional, so if one goes down the system is still functioning. This has the dow

[2022-02-28 20:37] zhenlan commented on #216
@PeterFreemarket, thanks for the feedback. Those are valid points. We are working on a better solution by supporting geo-replication (https://github.com/Azure/AppConfiguration/issues/178). The configuration provider will also be updated to support multiple replicas.

[2022-03-17 20:51] mwoo-o commented on #191
Hello,
I have an Azure App Configuration that contains a key with content type of "Application/json".
How to find out the Content type of a key?
I see that there is Azure.Data.AppConfiguration.ConfigurationSetting class that can indicate the Content type of a Key.
However, how should we get the ConfigurationSetting from IConfiguration or Microsoft.Extensions.Configuration.ConfigurationRoot?  Is it

[2022-03-21 18:50] avanigupta commented on #191
Hello @mwoo-o, if you're using the AppConfig provider library (Microsoft.Extensions.Configuration.AzureAppConfiguration) to read your key-values from Azure App Configuration, we will automatically deserialize the key-values with content type "application/json" before adding them to `IConfiguration`. Since `IConfiguration` is just a collection of key-value pairs, we cannot provide all the informati

[2022-03-21 19:10] mwoo-o commented on #191
In our scenario, if application provides our provider key, says key1,  in the App configuration, we are thinking to process the key1's value based on the content type.  The key value doesn't need to be only Json. It can be xml or format that are understood by our provider.    We are in the process of exploring different possibilities.

For example, If it is Json, then we can deserialize the Json v

[2022-03-21 19:15] avanigupta commented on #191
Thanks for the explanation! We are working on a new API that will allow you to do this in future: https://github.com/Azure/AppConfiguration-DotnetProvider/issues/157
Let me know if this would work for you.

[2022-03-21 19:27] mwoo-o commented on #191
The new API seems to be the solution.  Is the new API available?

[2022-03-21 19:41] mwoo-o commented on #191
One more question, Will the new Map API applied to all the Labels for the particular settings?

[2022-03-21 20:02] avanigupta commented on #191
Yes, we'll update the linked github issue when its released.

We will let the user transform all `ConfigurationSetting`s retrieved from Azure App Configuration service. But the user is responsible for selecting which `ConfigurationSetting`s will be retrieved from the server. For this, you can use the `Select` API to specify which keys/labels you want to load ([docs](https://docs.microsoft.com/en-u

[2022-03-21 20:25] mwoo-o commented on #191
Hi Avani,

Thanks a lot for your prompt responses!

On a separate note.  I am encountering some issues with the Filter
function in .NET.

  AzureAppConfigurationOptions.Select() API.

I did the  AzureAppConfigurationOptions.Select(*)  with the assumption
that it will return all keys for all the labels (null, "somelabel"...etc).
However, it seems that it only return keys with Null label.

Same beha

[2022-03-21 22:08] avanigupta commented on #191
This is the intended behavior while selecting key-values from AppConfig. The `Select` API accepts prefix filtering for keys only. We don't support loading all labels at once. This is because if the same key exists for multiple labels, the final value of that key in `IConfiguration` will be ambiguous. If you want to load multiple labels, you can have multiple `Select` statements for each label that

[2022-03-21 22:58] mwoo-o commented on #191
Hi Avani,

Thanks for the information.

I think the behavior is different to what mentioned in the Query
key-values section of the doc:
https://docs.microsoft.com/en-us/azure/azure-app-configuration/concept-key-value

Might be the REST API supports the behavior that I want, but not the
Azure API using AzureAppConfigurationOptions.

I agree with you with the ambiguous scenario when the same key exi

[2022-03-22 17:06] avanigupta commented on #191
That is correct. The App Config provider library offers a layer of abstraction over the underlying REST APIs.

Agreed, but this is something that can only be determined at runtime. If someone unknowingly adds the same key with multiple labels, any application referencing that key will be in an unpredictable state. We want to make sure that this can never happen and users explicitly provide the lab

[2022-03-22 17:09] mwoo-o commented on #191
The behavior sounds reasonable.  At the meanwhile, I don't see any issue.
Thanks for the information.

[2022-03-29 22:34] jimmyca15 opened #315 "Dynamic Feature - Microsoft.FeatureManagement v3 support"
# Microsoft.FeatureManagement 3.0.0 support.

This configuration library provides a mechanism to use feature flags defined in Azure App Configuration with the Microsoft.FeatureManagement library. Version 3.0 of the Microsoft.FeatureManagement library will be introducing a [new schema](https://github.com/microsoft/FeatureManagement-Dotnet/blob/feature/v3/docs/schemas/FeatureManagement.v2.0.0.json)

[2022-03-29 22:34] jimmyca15 commented on #315
cc @zhenlan @avanigupta @mrm9084

For any comments/suggestions

[2022-03-29 22:46] mrm9084 commented on #315
@jimmyca15 I know we have talked about this before, but is this only for the beta release? And will be removed once GAed?

[2022-03-30 16:18] jimmyca15 commented on #315
@mrm9084 Yes, the opt-in flag is only intended for a preview window. In future versions of the provider the opt-in flag will be removed, with the possibility of an opt-out flag to replace it.

[2022-04-15 23:23] jimmyca15 opened #317 "A feature flag obtained via refresh may override a feature flag with higher precedence."
See [this discussion](https://github.com/Azure/AppConfiguration/issues/616#issuecomment-1062040088) for details of the original detection of this issue.

When using a setup like below to retrieve feature flags

[code]

It is expected that feature flags from the prod label override the flags with the null label. This works as expected as long as feature flags are not refreshed.

An issue can occur

[2022-04-26 17:58] avanigupta opened #318 "Inconsistent exception handling when `AddAzureAppConfiguration` is invoked with `optional=true`"
My thoughts too. I think our "optional" behavior comes from the "optional" behavior of FileConfigurationProviders. For configuration files, this flag suppresses the exception when a file is not found. Anything else, like invalid syntax in file or empty file path still throws an exception when optional is true.
Along similar lines, if optional is true for AppConfig provider, any errors that occur d

[2022-04-26 19:29] zhenlan commented on #318
Just want to make sure this continues to work
https://docs.microsoft.com/en-us/azure/azure-app-configuration/concept-disaster-recovery

[2022-04-26 20:04] avanigupta commented on #318
The idea is to throw on user input errors. Since the disaster recovery setup kicks in when there's a runtime error, the above doc instructions should still work.

[2022-05-03 13:46] tiliev opened #320 "Security vulnerability in one of the dependencies"
Hello,

Our vulnerability detection tool reports a security vulnerability in one of your dependencies:

`Microsoft.Extensions.Configuration.AzureAppConfiguration@5.0.0` -> `System.Text.Json@4.6.0` -> `System.Text.Encodings.Web@4.6.0`

The vulnerability is in `System.Text.Encodings.Web@4.6.0`. More information regarding the vulnerability itself - [here](https://github.com/dotnet/runtime/issues/4937

[2022-05-06 04:05] petekapakos opened #321 "CacheExpirationInterval only refreshes feature flags with no label"
I have the following code in an asp.net core 6 web api:
[code]

I have created two configuration feature flags in azure configuration:
devfeature
nolabelfeature

'devfeature' has a label of 'Development'
'nolabelfeature' has no label.

When I run the application locally (or in the cloud), I am able to toggle the nolabelfeature setting on and off and the application responds accordingly after the e

[2022-05-06 19:05] avanigupta commented on #320
Hello @tiliev, thanks for reporting this issue. You're right, System.Text.Json v4.6.0 depends on System.Text.Encodings.Web v4.6.0 which has a security vulnerability. However, this vulnerability does not exist in Microsoft.Extensions.Configuration.AzureAppConfiguration package because we have another dependency that overrides the System.Text.Encodings.Web package to v4.7.2, which is a safe version.

[2022-05-09 14:38] tiliev commented on #320
@avanigupta thanks for your input. You are correct. That's good news.

At the end, the workaround we used is to explicitly reference `System.Text.Encodings.Web@4.7.2` in our project. That made our vulnerability detection tool happy.

Thanks for you time.

[2022-05-09 16:00] avanigupta commented on #321
Hi @petekapakos, if no label is specified in the `FeatureFlagOptions.Select` clause, only null labels are loaded by default.

To select feature flags with specific labels, you can do this:

[code]

Documentation here: https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.azureappconfiguration.featuremanagement.featureflagoptions.select?view=azure-dotnet

[2022-05-09 16:20] #321 closed

[2022-05-13 09:36] tiliev commented on #320
Closing as per https://github.com/dotnet/runtime/issues/68931.

[2022-05-13 09:36] #320 closed

[2022-05-18 22:04] microsoft-github-policy-service[bot] opened #323 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-06-16 15:30] #323 closed

[2022-07-15 05:12] #290 closed

[2022-07-15 23:15] AAATechGuy opened #343 "dll reference issue - Microsoft.Extensions.Configuration dependency runtime failure."
`Microsoft.Extensions.Configuration.AzureAppConfiguration` package blocks applications from upgrading to `Microsoft.Extensions.Configuration` version `5.0.0` +

This is because, `Microsoft.Extensions.Configuration.AzureAppConfiguration` references
`    <PackageReference Include="Microsoft.Extensions.Configuration" Version="3.1.18" />`

This causes runtime issues when loading app, and init AzureApp

[2022-07-15 23:27] AAATechGuy commented on #343
sent PR https://github.com/Azure/AppConfiguration-DotnetProvider/pull/344

[2022-08-02 20:05] RohanRao27 opened #348 "Invalid Feature Flag Value (JSON) causes the application to crash"
For context, I am working on understanding Feature Flags in Azure App Config, and using the Azure SDK, I created feature flags using code as follows:
[code]

While this code works for valid json files, I was testing what happens when the json file contains invalid value, e.g. consider `Invalid.json` as follows
[code]
which is clearly not a valid json file.

This results in an invalid feature flag

[2022-08-29 15:50] jwyza-pi opened #349 "Unexpected behavior when a null label occurs in the middle of a set of selects"
# Problem

When using multiple `Select`s chained together, putting a null labeled select in the middle causes that to take precedence even if a future label should have overridden it.

# Example

Given the following Keys in AAC:

![image](https://user-images.githubusercontent.com/82385570/187239534-d0c30012-6792-466e-ae64-7460d855fe9f.png)

And the following code:

[code]

The expected outcome sho

[2022-08-29 19:01] avanigupta commented on #222
[Azure.Security.KeyVault.Secrets 4.3.0](https://www.nuget.org/packages/Azure.Security.KeyVault.Secrets/4.3.0) version contains the required API.

[2022-08-29 19:31] avanigupta opened #350 "Proposal to rename refresh APIs"
Due to some confusion around the use of the word "cache" in our API names, we could change the following APIs to better reflect their functionality:
AzureAppConfigurationRefreshOptions
- SetCacheExpiration -> `SetRefreshInterval`

FeatureFlagOptions
- CacheExpirationInterval  property -> Deprecate the property in favor of a new `SetFeatureFlagRefreshInterval` method

This would help clarify that t

[2022-08-31 20:23] avanigupta commented on #349
Hello @jwyza-pi, thank you for reporting this issue. We try to optimize the number of requests an application makes to AppConfig service. One of those optimizations is that we skip some `Select` statements if their selector would end up loading key-values that have already been loaded by a previous  `Select` statement ([code here](https://github.com/Azure/AppConfiguration-DotnetProvider/blob/28aee

[2022-08-31 20:55] avanigupta commented on #348
Hi @RohanRao27, thanks for reporting this issue! If `optional` is set to true, there shouldn't be any exceptions thrown for invalid feature flags. We are working on fixing this bug.
About the feature flag caching mechanism - we will refresh all feature flags loaded by your application even if only one KeyValueModified event is received.
I didn't understand the third question. What do you mean by "

[2022-09-01 16:42] avanigupta commented on #348
Great! For future reference, deleting a key-value that doesn't exist in the AppConfig store will not trigger any Event Grid event - since the state of your AppConfig store did not change at all.

[2022-09-01 19:01] jwyza-pi commented on #349
Unless I am not understanding the code, I don't think that the statement of "have already been loaded by a previous `select`" is accurate.  The code checks to make sure that there isn't *any* select that would do it.  It's not doing any sort of restriction to only look into the past, it looks at both past and future and only excludes the current one from it's condition.

If the priority is on keep

[2022-09-01 19:04] RohanRao27 commented on #348
Interesting you suggest that - If I try deleting a non-existent flag (whether it was created then deleted or never created but deleted), it does generate the event grid event, but the notification returns false - perhaps this behavior is not intended then? Just retested it today.

Here is an example event grid event that is generated on a flag that was never in the store, to begin with, but using

[2022-09-01 19:29] #222 closed

[2022-09-03 08:57] lissdy commented on #134
Echo here, may I know the progress of the feature? We are considering adding logs by ourselves to notify configuration changes.

[2022-09-06 14:55] #311 closed

[2022-09-07 01:50] lissdy opened #353 "A/B Testing or gray deployment support"
With A/B Testing or gray deployment support, we can validate configuration changes in small scope before rolling out to all service instances.
May I know any plan to support to?

[2022-09-07 22:29] avanigupta commented on #348
This is not the intentional behavior. Thanks for catching this! We'll make sure that deleting a key-value that doesn't exist in AppConfig will not trigger Event Grid events.

[2022-09-08 13:48] jwyza-pi commented on #349
@avanigupta do you think my proposed concept code is worth pursuing?  If so I'd be happy to spend time refining it and putting in a PR, but I don't want to commit time to it if the owning team wants to take a different approach to solving this issue.

[2022-09-08 17:59] avanigupta commented on #353
Hi @lissdy, this tutorial can help you get started on Azure App Configuration Feature Management: https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-targetingfilter-aspnet-core

[2022-09-08 18:33] avanigupta commented on #349
Hi @jwyza-pi, we have decided to remove this optimization in favor of keeping the code simple. Thank you for your inputs as they helped in making the decision!

[2022-09-08 23:19] avanigupta commented on #353
Following up on https://github.com/Azure/AppConfiguration/issues/681.

[2022-09-08 23:19] #353 closed

[2022-09-09 16:23] RohanRao27 commented on #348
Thanks Avani!

[2022-09-12 16:32] zhenlan commented on #134
Error/warning logs are already supported in the latest release of the provider library.

This PR is adding informational logs: #354

[2022-09-22 19:13] avanigupta opened #356 "Remove net5.0 as supported target framework"
Since .NET 5.0 reached end of support in May 2022, we can remove it as target framework from all our libraries. We should also upgrade sample apps in this project to .NET6.0.

[2022-09-22 19:15] avanigupta opened #357 "Remove SetDirty API"
SetDirty was marked as obsolete in v5.0.0 release (https://github.com/Azure/AppConfiguration-DotnetProvider/issues/301). We can completely deprecate it in the next major release.

[2022-09-22 19:19] avanigupta commented on #241
Tracking progress in #157

[2022-09-22 19:19] #241 closed

[2022-09-28 23:12] #349 closed

[2022-10-03 13:19] jwyza-pi commented on #349
Just a quick question, how often do releases get pushed out?  If there is a document somewhere that describes this, I'd be happy to look at it (teach a man to fish vs give a man a fish :) ).

[2022-10-03 19:10] avanigupta commented on #349
We don't have a document but usually we push out new releases every 2-3 months, or whenever we have major updates to release. We are working on a few more items for the next release and I'll update this thread when it's ready.

[2022-10-11 19:36] amerjusupovic commented on #348
Hi @RohanRao27 I just wanted to see if you could help with identifying the exact JsonException you got here. Was this under a higher level FormatException?

[2022-10-13 19:55] cwe1ss commented on #168
I also can't get the refresh to work with .NET 7 RC2 and the new minimal API-style Program.cs. I also have a `ChainedConfigurationProvider` in my list of providers:

![image](https://user-images.githubusercontent.com/4581460/195696362-e427ed08-a65d-4daf-973d-6ce893758688.png)

Is there any workaround for this?

[2022-10-13 20:17] zhenlan commented on #168
Please add App Configuration provider directly to your configuration builder instead of nested under the `ChainedConfigurationProvider`. Here is a code sample for .NET 6.

https://learn.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-aspnet-core?tabs=core6x#reload-data-from-app-configuration

[2022-10-13 20:46] cwe1ss commented on #168
Thank you for the quick response! I have been using that link for my implementation.

I did some more quick testing and the `ChainedConfigurationProvider` is already there from the beginning:
![image](https://user-images.githubusercontent.com/4581460/195705794-c379129f-a998-419d-948b-de2872dee965.png)

And here's how it looks after `AddAzureAppConfiguration()`:
![image](https://user-images.githubu

[2022-10-13 21:36] zhenlan commented on #168
Is this a web app? If so, you should also add App Configuration middleware as instructed in the same document. It will take care of the configuration refresh.

If it's a console app, you will need to call `TryRefreshAsync` in your code to get the configuration refreshed. You can find more details in this doc for a console app.
https://learn.microsoft.com/en-us/azure/azure-app-configuration/enable-

[2022-10-14 05:48] cwe1ss commented on #168
I'm so sorry, I seem to have just stopped reading after the step to add `builder.Services.AddAzureAppConfiguration()`. One shouldn't program late at night 😪

thank you very much for your help, it is working now.

[2022-10-14 20:59] #348 closed

[2022-10-17 12:13] maskati opened #360 "Provide custom secret resolver (SetSecretResolver) with additional resolution context"
The library does not currently make it easy to support access to secrets where resolution is based on configuration metadata (for example label or tags). The `SetSecretResolver` configuration takes a delegate that provides as context only `KeyVaultSecretIdentifier.SourceId` (URI to the Key Vault secret).

Currently [GetSecretValue](https://github.com/Azure/AppConfiguration-DotnetProvider/blob/60a3

[2022-10-18 23:31] avanigupta commented on #360
Hello @maskati, we are working on a new API that gives users access to the full `ConfigurationSetting` retrieved from AppConfig. You'd be able to make any modifications to the `ConfigurationSetting` object before we run `ProcessKeyValue` on it. Would this address your issue: https://github.com/Azure/AppConfiguration-DotnetProvider/issues/157

[2022-10-20 05:59] maskati commented on #360
@avanigupta that sounds great, thanks for the confirmation!

[2022-10-20 05:59] #360 closed

[2022-10-24 17:45] amerjusupovic commented on #157
### Problem

As stated previously:

Some applications may need to perform custom transforms on the configuration settings they retrieve from Azure App Configuration. An example might be if an application uses a custom defined content type and has to process the value before it is acceptable to be placed in .NET Core's `IConfiguration`. This is the kind of thing that is done for Key Vault reference

[2022-10-24 21:56] kevinferretti commented on #168
Now that the `ChainedConfigurationProvider` exposes its `IConfiguration` as per https://github.com/dotnet/runtime/issues/44486, is this issue able to be fixed?

[2022-10-24 22:28] zhenlan commented on #168
Yes, but that's only available in .NET 7.

@avanigupta, we need to code this so it will "light up" when running in a .NET 7 app.

[2022-10-26 14:35] lissdy opened #364 "How to pass custom ConfigurationClient to AzureAppConfigurationOptions?"
I need to define a custom ConfigurationClient to add more logs and metrics for the configuration fetch events, but found the Client method in AzureAppConfigurationOptions is "internal" protected level.
May I know how to pass custom ConfigurationClient to AzureAppConfigurationOptions?

![image](https://user-images.githubusercontent.com/3861170/198055246-99ad0b37-729b-45f1-9ec4-823580d19924.png)
Is

[2022-10-26 16:12] lissdy commented on #364
Thank @zhenlan  for replying, checked the code and found ConfigurationClientOptions can be customed as `AzureAppConfigurationOptions ConfigureClientOptions(Action<ConfigurationClientOptions> configure)` is public. But unfortunately, it doesn't meet my requirement: add custom log/metrics once the sentinel value is changed or configuration reload happens.
Do you have any suggestions about this? Or d

[2022-10-26 16:23] zhenlan commented on #364
We are actually working on adding more logs for the scenarios you mentioned. Does this meet your need?

https://github.com/Azure/AppConfiguration-DotnetProvider/pull/354/files

[2022-10-27 00:35] lissdy commented on #364
Want to add more information to logs, for example, as we are following **configuration as code** pattern. Would like to print the configuration commit version for troubleshooting as well.
The same for metrics, hope the metrics can tell us the Configuration store is throttling, or load data failed, etc.
Do you have the plan to support custom ConfigurationClient?  So it's possible to define custom l

[2022-10-27 00:57] zhenlan commented on #364
How does commit number get into your App Config store? As labels? If so, the label will be part of the log.

There will be logs from the provider library when either configuration is refreshed successfully or failed. So you can monitor the logs from the library. You can convert the logs to metrics if you have a system that supports it.

I'm afraid a custom ConfigurationClient won't help in your ca

[2022-10-27 02:16] lissdy commented on #364
Thanks, @zhenlan for your input, we do consider enabling geo-replication once the feature is GA. It's a good point that
the custom ConfigurationClient log may be too noisy in this case and can't tell us the whole picture.  I will try to convert the library log to metrics for monitoring.

[2022-10-27 02:16] #364 closed

[2022-11-30 00:27] avanigupta commented on #349
Hi @jwyza-pi, this should be fixed in the latest stable release - [v5.2.0](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureAppConfiguration/5.2.0)